<div class="row flex-wrap">
    <div class="col-1 p-3 m-1 rounded border text-dark" style="background-color: #FBDCDC">error - light - #FBDCDC</div>
    <div class="col-1 p-3 m-1 rounded border text-dark" style="background-color: #F7EDD4">warning - light - #F7EDD4</div>
    <div class="col-1 p-3 m-1 rounded border text-dark" style="background-color: #DEF3E3">success - light - #DEF3E3</div>
    <div class="col-1 p-3 m-1 rounded border text-dark" style="background-color: #D5EAF5">info - light - #D5EAF5</div>
</div>