<div class="display-30">Ubuntu, 24/32px, -30</div>
<div class="display-21">Ubuntu, 16/26px, -21</div>
<span class="display-22">Ubuntu 600, 14/24px, -22</span>
<div class="display-23">Ubuntu, 14/24px, -23</div>
<div class="display-32">Ubuntu, 14/24px (12/20px), -32</div>
<div class="display-31">Ubuntu, 14/40px, -31</div>
<div class="display-28">Ubuntu, 14/40px (14/32px) (rot), -28</div>
<div class="display-27">Ubuntu, 12/16px, 2px spacing, -27</div>
<section class="display-24">Ubuntu 600, 12/20px, -24</section>
<article class="display-25">Ubuntu, 12/20px, -25</article>
<div class="display-29">Ubuntu, 12/24px, -29</div>
<div class="display-26">Ubuntu, 10/14px, -26</div>
