<h4>Text 16:</h4>
<div class="text-16">
    Leicht zu kombineiren, gradlinig und mit 4 aufgesetzten Taschen. Die Leinen-Mix-Jacke im <strong>Hemdblusenstil</strong> umspielt Taille, Bauch und Hüften und lässt sich mit dem abnehmbaren <u>Bindegürtel</u> auf Taille bringen.
    <br/>
    Das edle Material und der klassische Schnitt passen so gut zu lässigem Denim wie zu einfarbigen oder gemusterten Hosen und Rücken.
</div>
<br/>
<h4>Text 14:</h4>
<div class="text-14">
    Leicht zu kombineiren, gradlinig und mit 4 aufgesetzten Taschen. Die Leinen-Mix-Jacke im <strong>Hemdblusenstil</strong> umspielt Taille, Bauch und Hüften und lässt sich mit dem abnehmbaren <u>Bindegürtel</u> auf Taille bringen.
    <br/>
    Das edle Material und der klassische Schnitt passen so gut zu lässigem Denim wie zu einfarbigen oder gemusterten Hosen und Rücken.
</div>
<br/>
<h4>Text 12:</h4>
<div class="text-12 text-black-50">
    Preise inkl. MwSt. zzgl. <u>Versandkosten</u>
</div>
<br/>
<h4>Text 10:</h4>
<div class="text-10">
    Leicht zu kombineiren, gradlinig und mit 4 aufgesetzten Taschen. Die Leinen-Mix-Jacke im Hemdblusenstil umspielt Taille, Bauch und Hüften und lässt sich mit dem abnehmbaren Bindegürtel auf Taille bringen.
    <br/>
    Das edle Material und der klassische Schnitt passen so gut zu lässigem Denim wie zu einfarbigen oder gemusterten Hosen und Rücken.
</div>