<div class="display-30">Lora Regular, 20/28px -30</div>
<div class="display-21">Lora Regular, 16/26px -21</div>
<span class="display-22">Roboto Regular, 12/16px -22</span>
<div class="display-23">Lora Regular, 14/24px -23</div>
<div class="display-32">Roboto Regular, 14/16px(12/20px) -32</div>
<div class="display-31">Roboto medium, 14/20px, 15% spacing, uppercase -31</div>
<div class="display-28">Roboto Regular, 14/40px(14/32px) -28</div>
<div class="display-27">Roboto medium, 12/18px, 15% spacing, uppercase -27</div>
<section class="display-24">Roboto Bold, 12/20px -24</section>
<article class="display-25">Roboto Regular, 12/16px -25</article>
<div class="display-29">Lora Regular, 12/16px -29</div>
<div class="display-26">Roboto Regular, 10/14px -26</div>
