<div class="display-21">Open Sans Regular, 16/26px</div>
<span class="display-22">Open Sans Regular 600, 14/24px</span>
<span class="display-23">Open Sans Regular, 14/24px</span>
<section class="display-24">Open Sans Regular 600, 12/20px</section>
<article class="display-25">Open Sans Regular, 12/20px</article>
<h3 class="display-26">Open Sans Regular, 10/14px</h3>
<h7 class="display-27">Open Sans Bold, 12/16px, 2px spacing</h7>
<div class="display-28">Open Sans Regular, 14/40px (rot) + Open Sans Regular, 14/32px (rot)</div>
<div class="display-29">Open Sans Regular, 12/24px</div>
<div class="display-30">Open Sans Regular, 24/32px</div>
<div class="display-31">Open Sans Regular, 14/40px</div>