<div class="display-30">Public Sans Regular, 24/32px, -30</div>
<div class="display-21">Public Sans Regular, 16/26px, -21</div>
<span class="display-22">Public Sans Regular 600, 14/24px, -22</span>
<div class="display-23">Public Sans Regular, 14/24px, -23</div>
<div class="display-32">Public Sans Regular, 14/24px (12/20px), -32</div>
<div class="display-31">Public Sans Regular, 14/40px, -31</div>
<div class="display-28">Public Sans Regular, 14/40px (14/32px) (rot), -28</div>
<div class="display-27">Public Sans Bold, 12/16px, 2px spacing, -27</div>
<section class="display-24">Public Sans Regular 600, 12/20px, -24</section>
<article class="display-25">Public Sans Regular, 12/20px, -25</article>
<div class="display-29">Public Sans Regular, 12/24px, -29</div>
<div class="display-26">Public Sans Regular, 10/14px, -26</div>
