<div class="form-group">
  <label 
    class="mb-0 display-22"
    for="input-type-password">Label</label>
  <div class="position-relative">
    <input
      id="input-type-password" 
      name="input-type-password" 
      autocomplete="off"
      class="js-flyout-input-password form-control"
      type="password" 
      placeholder="Placeholder"
      value="">
    <div class="icon-password-show border-left pl-2 border-left-big js-form-input__password-icon">
      <div class="icon-show js-icon-show text-secondary align-items-center">
        <div class="password-icon-eye"></div>
        <div class="ml-2 display-26">anzeigen</div>
      </div>
      <div class="icon-hide js-icon-hide text-secondary align-items-center">
        <div class="password-icon-eyeSliced"></div>
        <div class="ml-2 display-26">ausblenden</div>
      </div>
    </div>
  </div>
</div>