<div class="d-flex">
    <img src="/astrum/images/payments/amex.svg" class="m-auto" alt="Payment amex">
    <img src="/astrum/images/payments/cb-card.svg" class="m-auto" alt="Payment cb-card">
    <img src="/astrum/images/payments/ideal.svg" class="m-auto" alt="Payment ideal">
    <img src="/astrum/images/payments/klarna.svg" class="m-auto" alt="Payment klarna">
    <img src="/astrum/images/payments/mastercard.svg" class="m-auto" alt="Payment mastercard">
    <img src="/astrum/images/payments/p24.svg" class="m-auto" alt="Payment p24">
    <img src="/astrum/images/payments/paypal.svg" class="m-auto" alt="Payment paypal">
    <img src="/astrum/images/payments/visa.svg" class="m-auto" alt="Payment visa">
    <img src="/astrum/images/payments/sepa.svg" class="m-auto" alt="Payment sepa">
</div>
