<div class="d-flex">
    <img src="/../../images/payments/amex.svg" class="m-auto" style="width:45px" alt="Payment amex">
    <img src="/../../images/payments/cb-card.svg" class="m-auto" style="width:45px" alt="Payment cb-card">
    <img src="/../../images/payments/cod.svg" class="m-auto" style="width:45px" alt="Payment cod">
    <img src="/../../images/payments/creditcard.svg" class="m-auto" style="width:45px" alt="Payment creditcard">
    <img src="/../../images/payments/ideal.svg" class="m-auto" style="width:45px" alt="Payment ideal">
    <img src="/../../images/payments/invoice.svg" class="m-auto" style="width:45px" alt="Payment invoice">
    <img src="/../../images/payments/invoice-de.svg" class="m-auto" style="width:45px" alt="Payment invoice">
    <img src="/../../images/payments/klarna.svg" class="m-auto" style="width:45px" alt="Payment klarna">
    <img src="/../../images/payments/mastercard.svg" class="m-auto" style="width:45px" alt="Payment mastercard">
    <img src="/../../images/payments/p24.svg" class="m-auto" style="width:45px" alt="Payment p24">
    <img src="/../../images/payments/paypal.svg" class="m-auto" style="width:45px" alt="Payment paypal">
    <img src="/../../images/payments/ratepay.svg" class="m-auto" style="width:45px" alt="Payment ratepay">
    <img src="/../../images/payments/visa.svg" class="m-auto" style="width:45px" alt="Payment visa">
</div>
