<div class="row pb-2">
    <div class="col-6">
        <div class="pb-2">
            <div class="display-6">normal:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-lg btn-gray-surface">gray-surface button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-lg btn-gray-surface disabled">gray-surface button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-lg btn-gray-surface active">gray-surface button active</button>
        </div>
    </div>
    <div class="col-6">
        <div class="pb-2">
            <div class="display-6">block:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-lg btn-gray-surface btn-block">gray-surface button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-lg btn-gray-surface btn-block disabled">gray-surface button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-lg btn-gray-surface btn-block active">gray-surface button active</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="pb-2">
            <div class="display-6">block zweizeilig:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-lg btn-gray-surface btn-block">gray-surface button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-lg btn-gray-surface btn-block disabled">gray-surface button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-lg btn-gray-surface btn-block active">gray-surface button active</button>
        </div>
    </div>
</div>

