<div class="row">
    <div class="col-6">
        <div class="pb-2">
            <div class="display-6">normal:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-green">green button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-green disabled">green button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-green active">green button active</button>
        </div>
    </div>
    <div class="col-6">
        <div class="pb-2">
            <div class="display-6">block:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-green btn-block">green button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-green btn-block disabled">green button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-green btn-block active">green button active</button>
        </div>
    </div>
</div>
