<div class="bg-light pt-3">
    <div class="container py-4">
        <div class="display-5">Wissenswertes zu Gutscheinen, Aktionen und anderem verrücktem Zeug... </div>
        <div class="pt-4">
            <div class="display-22">*Late Night Shopping</div>
            <div class="display-23">25% werden durch die Eingabe des Gutscheincodes 200219 im Warenkorb abgezogen.
                Nur gültig am 21.08.2019 für Artikel in der Kategorie “Fashiondeal”.  Barauszahlungen oder Verbuchung auf dein Konto ist nicht möglich.
                Nicht mit weiteren Rabatten kombinierbar. Nur einmalig online einlösbar.
            </div>
        </div>
        <div class="pt-4">
            <div class="display-22">**Blusenvielfalt</div>
            <div class="display-23">20% werden durch die Eingabe des Gutscheincodes 200219 im Warenkorb abgezogen.
                Nur gültig am 20.02.2019 für Artikel in der Kategorie “Blusenvielfalt”. Barauszahlungen oder Verbuchung auf dein Konto ist nicht möglich.
                Nicht mit weiteren Rabatten kombinierbar. Nur einmalig online einlösbar.  Nur so lange der Vorrat reicht.
            </div>
        </div>
        <div class="pt-4">
            <div class="display-22">***Fashiondeal</div>
            <div class="display-23">20% werden durch die Eingabe des Gutscheincodes 200219 im Warenkorb abgezogen.
                Nur gültig am 20.02.2019 für Artikel in der Kategorie “Blusenvielfalt”. Barauszahlungen oder Verbuchung auf dein Konto ist nicht möglich.
                Nicht mit weiteren Rabatten kombinierbar. Nur einmalig online einlösbar.  Nur so lange der Vorrat reicht.
            </div>
        </div>
        <div class="pt-4">
            <div class="display-22">****Sommerrabatt</div>
            <div class="display-23">20% werden durch die Eingabe des Gutscheincodes 200219 im Warenkorb abgezogen.
                Nur gültig am 20.02.2019 für Artikel in der Kategorie “Blusenvielfalt”. Barauszahlungen oder Verbuchung auf dein Konto ist nicht möglich.
                Nicht mit weiteren Rabatten kombinierbar. Nur einmalig online einlösbar.  Nur so lange der Vorrat reicht.
            </div>
        </div>
        <div class="pt-4">
            <div class="display-24">Fußnoten</div>
            <ol class="display-29">
                <li>Oder suchst Du vielleicht auch nach Fahrrad- und Bikermode in großen Größen? JP1880 hat für diese Hobbys die passende Kleidung.</li>
                <li>Und wer nicht gerade die Nacht zum Tag macht, findet auch modische Übergrößen-Kleidung für unten drunter sowie für die
                    wohlverdiente Nachtruhe in unserer Kategorie: Unterwäsche und Schlafanzüge.
                    Bequeme Herrenkleidung in Pluse Size findest und kaufst Du hier in unserem Online Shop!</li>
                <li>Oder suchst Du vielleicht auch nach Fahrrad- und Bikermode in großen Größen? JP1880 hat für diese Hobbys die passende Kleidung.</li>
                <li>Und wer nicht gerade die Nacht zum Tag macht, findet auch modische Übergrößen-Kleidung für unten drunter sowie für die
                    wohlverdiente Nachtruhe in unserer Kategorie: Unterwäsche und Schlafanzüge.
                    Bequeme Herrenkleidung in Pluse Size findest und kaufst Du hier in unserem Online Shop!</li>
                <li>Oder suchst Du vielleicht auch nach Fahrrad- und Bikermode in großen Größen? Bitte nicht beim Kopieren kaputtmachen.</li>
                <li>Und wer nicht gerade die Nacht zum Tag macht, findet auch modische Übergrößen-Kleidung für unten drunter sowie für die
                    wohlverdiente Nachtruhe in unserer Kategorie: Unterwäsche und Schlafanzüge.
                    Bequeme Herrenkleidung in Pluse Size findest und kaufst Du hier in unserem Online Shop!</li>
            </ol>
        </div>
    </div>
</div>
