<div class="row d-flex justify-content-around">
    <div class="col">
        <div class="alert alert-sm alert-success text-success" role="success">
            <div class="d-flex pr-6">
                <div class="icon-container bg-success rounded-circle flex-column flex-shrink-0 mr-3">
                    <div class="icon-checkmark-white"></div>
                </div>
                <div class="display-24">
                    Message Text
                </div>
            </div>
            <a class="flex-shrink-0 p-2 position-absolute alert-close pointer" data-dismiss="success" aria-label="Close">
                <div class="icon-close-success close bg-transparent"></div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="alert alert-sm alert-warning text-warning" role="warning">
            <div class="d-flex pr-6">
                <div class="icon-container bg-warning rounded-circle flex-column flex-shrink-0 mr-3">
                    <div class="icon-exclamationMark-white"></div>
                </div>
                <div class="display-24">
                    Message Text
                </div>
            </div>
            <a class="flex-shrink-0 p-2 position-absolute alert-close pointer" data-dismiss="warning" aria-label="Close">
                <div class="icon-close-warning close bg-transparent"></div>
            </a>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-around">
    <div class="col">
        <div class="alert alert-sm alert-danger text-danger" role="alert">
            <div class="d-flex pr-6">
                <div class="icon-container bg-danger rounded-circle flex-column flex-shrink-0 mr-3">
                    <div class="icon-close-white"></div>
                </div>
                <div class="display-24">
                    Message Text
                </div>
            </div>
            <a class="flex-shrink-0 p-2 position-absolute alert-close pointer" data-dismiss="alert" aria-label="Close">
                <div class="icon-close-danger close bg-transparent"></div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="alert alert-sm alert-dark bg-gray-surface" role="alert">
            <div class="d-flex pr-6">
                <div class="icon-questionMark-white bg-dark rounded-circle flex-column flex-shrink-0 mr-3"></div>
                <div class="display-24">
                    Message Text
                </div>
            </div>
            <a class="flex-shrink-0 p-2 position-absolute alert-close pointer" data-dismiss="alert" aria-label="Close">
                <div class="icon-close-info close bg-transparent"></div>
            </a>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-around">
    <div class="col">
        <div class="alert alert-sm alert-info text-info" role="alert">
            <div class="d-flex pr-6">
                <div class="icon-container bg-info rounded-circle flex-column flex-shrink-0 mr-3">
                    <div class="icon-i-white"></div>
                </div>
                <div class="display-24">
                    Message Text
                </div>
            </div>
            <a class="flex-shrink-0 p-2 position-absolute alert-close pointer" data-dismiss="alert" aria-label="Close">
                <div class="icon-close-info close bg-transparent"></div>
            </a>
        </div>
    </div>
    <div class="col">
    </div>
</div>