<div class="row">
    <div class="col-6">
        <div class="pb-2">
            <div class="display-6">normal:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-light">light button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-light disabled">light button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-light active">light button active</button>
        </div>
    </div>
    <div class="col-6">
        <div class="pb-2">
            <div class="display-6">block:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-light btn-block">light button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-light btn-block disabled">light button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-light btn-block active">light button active</button>
        </div>
    </div>
</div>