<h3 class="pb-2">$light</h3>
<div class="row pb-2">
    <div class="col-12 display-6">btn-light normal</div>
    <div class="col-12 display-26 pb-1">btn-block text-truncate gehören zum Standard</div>
    <div class="col-2"><button type="button" class="btn btn-light btn-block text-truncate">disabled</button></div>
    <div class="col-1"><button type="button" class="btn btn-light btn-block text-truncate">einzeiliges Label</button></div>
    <div class="col-2"><a href="#" class="btn btn-light btn-block text-truncate disabled">disabled</a></div>
    <div class="col-2"><a href="#" class="btn btn-light btn-block text-truncate active">active</a></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-light small</div>
    <div class="col-2"><button type="button" class="btn btn-light btn-block text-truncate btn-sm">normal</button></div>
    <div class="col-1"><button type="button" class="btn btn-light btn-block text-truncate btn-sm">einzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn btn-light btn-block text-truncate btn-sm disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn btn-light btn-block text-truncate btn-sm active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-light large</div>
    <div class="col-2"><button type="button" class="btn btn-light btn-block btn-lg">normal</button></div>
    <div class="col-1"><button type="button" class="btn btn-light btn-block btn-lg">mehrzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn btn-light btn-block btn-lg disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn btn-light btn-block btn-lg active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-light svg Icon</div>
    <div class="col-12 display-26 pb-1">svg Varianten siehe button-icons</div>
    <div class="col-2"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-close">disabled</button></div>
    <div class="col-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-close">einzeiliges Label</button></div>
    <div class="col-2"><a href="#" class="btn btn-light btn-block text-truncate disabled icon-svg icon-left icon-close">disabled</a></div>
    <div class="col-2"><a href="#" class="btn btn-light btn-block text-truncate active icon-svg icon-left icon-close">active</a></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-light outline normal</div>
    <div class="col-2"><button type="button" class="btn  btn-outline-light btn-block text-truncate">normal</button></div>
    <div class="col-1"><button type="button" class="btn  btn-outline-light btn-block text-truncate">einzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-light btn-block text-truncate disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-light btn-block text-truncate active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-light outline small</div>
    <div class="col-2"><button type="button" class="btn  btn-outline-light btn-block text-truncate btn-sm">normal</button></div>
    <div class="col-1"><button type="button" class="btn  btn-outline-light btn-block text-truncate btn-sm">mehrzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-light btn-block text-truncate btn-sm disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-light btn-block text-truncate btn-sm active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-light outline large</div>
    <div class="col-2"><button type="button" class="btn  btn-outline-light btn-block btn-lg">normal</button></div>
    <div class="col-1"><button type="button" class="btn  btn-outline-light btn-block btn-lg">mehrzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-light btn-block btn-lg disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-light btn-block btn-lg active">active</button></div>
</div>