<h3 class="pb-2">SVG icon für Buttons</h3>
<div class="row flex-nowrap overflow-auto">
    <div class="col-12">

<div class="row">
    <div class="col-12 display-6">Overview über alle nutzbaren Icon - Button Kombinationen</div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-chevronLeft">icon-chevronLeft</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-chevronLeft">icon-chevronLeft</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-chevronLeft">icon-chevronLeft</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-chevronLeft">icon-chevronLeft</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-chevronLeft">icon-chevronLeft</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-chevronLeft">icon-chevronLeft</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-chevronRight">icon-chevronRight</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-chevronRight">icon-chevronRight</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-chevronRight">icon-chevronRight</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-chevronRight">icon-chevronRight</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-chevronRight">icon-chevronRight</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-chevronRight">icon-chevronRight</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-chevronDown">icon-chevronDown</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-chevronDown">icon-chevronDown</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-chevronDown">icon-chevronDown</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-chevronDown">icon-chevronDown</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-chevronDown">icon-chevronDown</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-chevronDown">icon-chevronDown</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-plus">icon-plus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-plus">icon-plus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-plus">icon-plus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-plus">icon-plus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-plus">icon-plus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-plus">icon-plus</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-close">icon-close</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-close">icon-close</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-close">icon-close</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-close">icon-close</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-close">icon-close</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-close">icon-close</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-minus">icon-minus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-minus">icon-minus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-minus">icon-minus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-minus">icon-minus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-minus">icon-minus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-minus">icon-minus</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-pencil">icon-pencil</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-pencil">icon-pencil</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-pencil">icon-pencil</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-pencil">icon-pencil</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-pencil">icon-pencil</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-pencil">icon-pencil</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-filter">icon-filter</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-filter">icon-filter</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-filter">icon-filter</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-filter">icon-filter</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-filter">icon-filter</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-filter">icon-filter</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-heart">icon-heart</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-heart">icon-heart</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-heart">icon-heart</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-heart">icon-heart</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-heart">icon-heart</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-heart">icon-heart</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-envelope">icon-envelope</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-envelope">icon-envelope</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-envelope">icon-envelope</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-envelope">icon-envelope</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-envelope">icon-envelope</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-envelope">icon-envelope</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-questionMark">icon-questionMark</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-questionMark">icon-questionMark</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-questionMark">icon-questionMark</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-questionMark">icon-questionMark</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-questionMark">icon-questionMark</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-questionMark">icon-questionMark</button></div>
</div>

    </div>
</div>