<h3 class="pb-2">SVG icon für Buttons</h3>
<div class="row flex-nowrap overflow-auto">
    <div class="col-12">

<div class="row">
    <div class="col-12 display-6">Overview über alle nutzbaren Icon - Button Kombinationen</div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-chevronLeft">icon-chevronLeft</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-chevronLeft">icon-chevronLeft</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-chevronLeft">icon-chevronLeft</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-chevronLeft">icon-chevronLeft</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-chevronLeft">icon-chevronLeft</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-chevronLeft">icon-chevronLeft</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-chevronRight">icon-chevronRight</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-chevronRight">icon-chevronRight</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-chevronRight">icon-chevronRight</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-chevronRight">icon-chevronRight</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-chevronRight">icon-chevronRight</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-chevronRight">icon-chevronRight</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-chevronUp">icon-chevronUp</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-chevronUp">icon-chevronUp</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-chevronUp">icon-chevronUp</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-chevronUp">icon-chevronUp</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-chevronUp">icon-chevronUp</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-chevronUp">icon-chevronUp</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-chevronDown">icon-chevronDown</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-chevronDown">icon-chevronDown</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-chevronDown">icon-chevronDown</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-chevronDown">icon-chevronDown</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-chevronDown">icon-chevronDown</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-chevronDown">icon-chevronDown</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-plus">icon-plus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-plus">icon-plus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-plus">icon-plus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-plus">icon-plus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-plus">icon-plus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-plus">icon-plus</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-close">icon-close</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-close">icon-close</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-close">icon-close</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-close">icon-close</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-close">icon-close</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-close">icon-close</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-hamburger">icon-hamburger</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-hamburger">icon-hamburger</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-hamburger">icon-hamburger</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-hamburger">icon-hamburger</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-hamburger">icon-hamburger</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-hamburger">icon-hamburger</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-search">icon-search</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-search">icon-search</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-search">icon-search</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-search">icon-search</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-search">icon-search</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-search">icon-search</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-badgeFill">icon-badgeFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-badgeFill">icon-badgeFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-badgeFill">icon-badgeFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-badgeFill">icon-badgeFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-badgeFill">icon-badgeFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-badgeFill">icon-badgeFill</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-badge">icon-badge</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-badge">icon-badge</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-badge">icon-badge</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-badge">icon-badge</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-badge">icon-badge</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-badge">icon-badge</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-eye">icon-eye</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-eye">icon-eye</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-eye">icon-eye</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-eye">icon-eye</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-eye">icon-eye</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-eye">icon-eye</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-eyeSliced">icon-eyeSliced</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-eyeSliced">icon-eyeSliced</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-eyeSliced">icon-eyeSliced</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-eyeSliced">icon-eyeSliced</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-eyeSliced">icon-eyeSliced</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-eyeSliced">icon-eyeSliced</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-minus">icon-minus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-minus">icon-minus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-minus">icon-minus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-minus">icon-minus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-minus">icon-minus</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-minus">icon-minus</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-pencil">icon-pencil</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-pencil">icon-pencil</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-pencil">icon-pencil</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-pencil">icon-pencil</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-pencil">icon-pencil</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-pencil">icon-pencil</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-envelope">icon-envelope</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-envelope">icon-envelope</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-envelope">icon-envelope</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-envelope">icon-envelope</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-envelope">icon-envelope</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-envelope">icon-envelope</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-chat">icon-chat</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-chat">icon-chat</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-chat">icon-chat</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-chat">icon-chat</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-chat">icon-chat</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-chat">icon-chat</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-questionMark">icon-questionMark</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-questionMark">icon-questionMark</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-questionMark">icon-questionMark</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-questionMark">icon-questionMark</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-questionMark">icon-questionMark</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-questionMark">icon-questionMark</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-checkmark">icon-checkmark</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-checkmark">icon-checkmark</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-checkmark">icon-checkmark</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-checkmark">icon-checkmark</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-checkmark">icon-checkmark</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-checkmark">icon-checkmark</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-filter">icon-filter</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-filter">icon-filter</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-filter">icon-filter</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-filter">icon-filter</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-filter">icon-filter</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-filter">icon-filter</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-heart">icon-heart</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-heart">icon-heart</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-heart">icon-heart</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-heart">icon-heart</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-heart">icon-heart</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-heart">icon-heart</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-heartLarge">icon-heartLarge</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-heartLarge">icon-heartLarge</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-heartLarge">icon-heartLarge</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-heartLarge">icon-heartLarge</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-heartLarge">icon-heartLarge</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-heartLarge">icon-heartLarge</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-heartFill">icon-heartFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-heartFill">icon-heartFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-heartFill">icon-heartFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-heartFill">icon-heartFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-heartFill">icon-heartFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-heartFill">icon-heartFill</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-star">icon-star</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-star">icon-star</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-star">icon-star</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-star">icon-star</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-star">icon-star</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-star">icon-star</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-starFill">icon-starFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-starFill">icon-starFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-starFill">icon-starFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-starFill">icon-starFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-starFill">icon-starFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-starFill">icon-starFill</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-config">icon-config</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-config">icon-config</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-config">icon-config</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-config">icon-config</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-config">icon-config</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-config">icon-config</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-configFill">icon-configFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-configFill">icon-configFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-configFill">icon-configFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-configFill">icon-configFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-configFill">icon-configFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-configFill">icon-configFill</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-bulb">icon-bulb</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-bulb">icon-bulb</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-bulb">icon-bulb</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-bulb">icon-bulb</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-bulb">icon-bulb</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-bulb">icon-bulb</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-bulbFill">icon-bulbFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-bulbFill">icon-bulbFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-bulbFill">icon-bulbFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-bulbFill">icon-bulbFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-bulbFill">icon-bulbFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-bulbFill">icon-bulbFill</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-login">icon-login</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-login">icon-login</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-login">icon-login</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-login">icon-login</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-login">icon-login</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-login">icon-login</button></div>

</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-loginFill">icon-loginFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-loginFill">icon-loginFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-loginFill">icon-loginFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-loginFill">icon-loginFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-loginFill">icon-loginFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-loginFill">icon-loginFill</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-bag">icon-bag</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-bag">icon-bag</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-bag">icon-bag</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-bag">icon-bag</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-bag">icon-bag</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-bag">icon-bag</button></div>
</div>
<div class="row">
    <div class="col-4 mb-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-bagFill">icon-bagFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-bagFill">icon-bagFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-light btn-block text-truncate icon-svg icon-left icon-bagFill">icon-bagFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-bagFill">icon-bagFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-yellow-sunshine btn-block text-truncate icon-svg icon-left icon-bagFill">icon-bagFill</button></div>
    <div class="col-4 mb-1"><button type="button" class="btn btn-gray-surface btn-block text-truncate icon-svg icon-left icon-bagFill">icon-bagFill</button></div>
</div>

    </div>
</div>