<div class="row">
    <div class="col-12 pb-2">
        <div class="display-6">normal:</div>
    </div>
    <div class="col-12 pb-2">
        <button type="button" class="btn btn-primary">primary button</button>
    </div>
    <div class="col-12 pb-2">
        <button type="button" class="btn btn-dark">dark button</button>
    </div>
    <div class="col-12 pb-2">
        <button type="button" class="btn btn-light">light button</button>
    </div>
</div>

<div class="row">
    <div class="col-12 pb-2">
        <div class="display-6">small:</div>
    </div>
    <div class="col-12 pb-2">
        <button type="button" class="btn btn-primary btn-sm">primary button sm</button>
    </div>
    <div class="col-12 pb-2">
        <button type="button" class="btn btn-dark btn-sm">dark button sm</button>
    </div>
    <div class="col-12 pb-2">
        <button type="button" class="btn btn-light btn-sm">light button sm</button>
    </div>
</div>

<div class="row">
    <div class="col-12 pb-2">
        <div class="display-6">large:</div>
    </div>
    <div class="col-12 pb-2">
        <button type="button" class="btn btn-primary btn-lg">primary button lg</button>
    </div>
    <div class="col-12 pb-2">
        <button type="button" class="btn btn-dark btn-lg">dark button lg</button>
    </div>
    <div class="col-12 pb-2">
        <button type="button" class="btn btn-light btn-lg">light button lg</button>
    </div>
</div>

<div class="row">
    <div class="col-12 pb-2">
        <div class="display-6">block:</div>
    </div>
    <div class="col-7 pb-2">
        <button type="button" class="btn btn-primary btn-block">primary button block</button>
    </div>
    <div class="col-7 pb-2">
        <button type="button" class="btn btn-dark btn-block">dark button block</button>
    </div>
    <div class="col-7 pb-2">
        <button type="button" class="btn btn-light btn-block">light button block</button>
    </div>
</div>

<div class="row">
    <div class="col-12 pb-2">
        <div class="display-6">stretch:</div>
    </div>
    <div class="col-12 pb-2">
        <button type="button" class="btn btn-primary btn-stretch">primary button stretch</button>
    </div>
    <div class="col-12 pb-2">
        <button type="button" class="btn btn-dark btn-stretch">dark btn stretch</button>
    </div>
    <div class="col-12 pb-2">
        <button type="button" class="btn btn-light btn-stretch">l. b. s.</button>
    </div>
</div>

<div class="display-6">For Icon Buttons look <a href="#group-buttons-component-button-icon">here</a></div>

