<footer>
    <div class="row bg-light bg-full-width-light d-flex justify-content-between">
        <div class="d-none d-md-block pt-4 pb-4 mt-4 mt-md-0 col-md-3 col-xl-2 ">
            <h5 class="mb-3">Unser Service</h5>
            <ul class="list-unstyled text-14">
                <li class="">
                    <a href="[]">Häufige Fragen</a>
                </li>
                <li class="">
                    <a href="[]">Größenberatung</a>
                </li>
                <li class="">
                    <a href="[]">Geschenkgutscheine</a>
                </li>
                <li class="">
                    <a href="[]">Bestellkarte</a>
                </li>
            </ul>
        </div>

        <div class="d-md-none mb-1 mt-4 mt-md-0 col-12">
            <a class="btn btn-block btn-collapsible border border-light py-2 pl-3 text-left collapsed" data-toggle="collapse" href="#UnserServiceNavNode" aria-expanded="false" aria-controls="UnserServiceNavNode">
                <div class="h5 mb-0">Unser Service</div>
            </a>
            <div class="collapse bg-white p-4 mb-1 mx-1" id="UnserServiceNavNode">
                <div>
                    <a href="[]">Häufige Fragen</a>
                </div>
                <div>
                    <a href="[]">Größenberatung</a>
                </div>
                <div>
                    <a href="[]">Geschenkgutscheine</a>
                </div>
                <div>
                    <a href="[]">Bestellkarte</a>
                </div>
            </div>
        </div>
    </div>
</footer>
