<div class="row bg-gray-surface py-4">
  
  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <div class="mobile-full-width p-3 py-4 p-md-4 bg-white rounded rounded-sm-0 flex-grow-1 d-flex flex-column overflow-hidden">
      <div class="display-6 pb-3 text-truncate">
        EinzusammengeschriebenesextralangesWortwelchesunterUmstaendensogarvierzeiligseinkann
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <div class="mobile-full-width p-3 py-4 p-md-4 bg-white rounded rounded-sm-0 flex-grow-1 d-flex flex-column overflow-hidden">
      <div class="display-6 pb-3 hyphenate overflow-hidden">
        EinzusammengeschriebenesextralangesWortwelchesunterUmstaendensogarvierzeiligseinkann
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <div class="mobile-full-width p-3 py-4 p-md-4 bg-white rounded rounded-sm-0 flex-grow-1 d-flex flex-column overflow-hidden">
      <div class="display-6 mb-3 hyphenate max-lines-2">
        EinzusammengeschriebenesextralangesWortwelchesunterUmstaendensogarvierzeiligseinkann
      </div>
    </div>
  </div>
  
</div>

<div class="row bg-gray-surface pb-4">
  
  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <div class="mobile-full-width p-3 py-4 p-md-4 bg-white rounded rounded-sm-0 flex-grow-1 d-flex flex-column overflow-hidden">
      <div class="display-6 pb-3 text-truncate">
        Ein Satz, der ein langes Wort wie Bundesausbildungsförderungsgesetz enthällt.
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <div class="mobile-full-width p-3 py-4 p-md-4 bg-white rounded rounded-sm-0 flex-grow-1 d-flex flex-column overflow-hidden">
      <div class="display-6 pb-3 hyphenate overflow-hidden">
        Ein Satz, der ein langes Wort wie Bundesausbildungsförderungsgesetz enthällt.
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <div class="mobile-full-width p-3 py-4 p-md-4 bg-white rounded rounded-sm-0 flex-grow-1 d-flex flex-column overflow-hidden">
      <div class="display-6 mb-3 hyphenate max-lines-2">
        Ein Satz, der ein langes Wort wie Bundesausbildungsförderungsgesetz enthällt.
      </div>
    </div>
  </div>
  
</div>