<div class="p-3 mb-2 rounded bg-primary text-white">$primary - #FE8273</div>
<div class="p-3 mb-2 rounded bg-secondary text-white">$secondary - #828282</div>
<div class="p-3 mb-2 rounded bg-success text-white">$success - #28a745</div>
<div class="p-3 mb-2 rounded bg-danger text-white">$danger - #dc3545</div>
<div class="p-3 mb-2 rounded bg-warning text-dark">$warning - #ffc107</div>
<div class="p-3 mb-2 rounded bg-info text-white">$info - #17a2b8</div>
<div class="p-3 mb-2 rounded bg-light text-dark">$light - #F2F2F2</div>
<div class="p-3 mb-2 rounded bg-dark text-white">$dark - #191919</div>
<div class="p-3 mb-2 rounded bg-gray text-dark">gray - #E7E7E7</div>
<div class="p-3 mb-2 rounded bg-white text-dark">$white - #fff</div>
