<div class="row flex-wrap">
    <div class="col-1 p-3 m-1 rounded border bg-success text-white">success - #429653</div>
    <div class="col-1 p-3 m-1 rounded border bg-green text-white">green - #90DE8C</div>
    <div class="col-1 p-3 m-1 rounded border bg-green-velvet text-white">green-velvet - #78E190</div>
    <div class="col-1 p-3 m-1 rounded border bg-info text-white">info - #27A0E4</div>
    <div class="col-1 p-3 m-1 rounded border bg-warning text-white">warning - #EDAA1D</div>
    <div class="col-1 p-3 m-1 rounded border bg-yellow-sunshine text-dark">yellow-sunshine - #FFCF4E</div>
    <div class="col-1 p-3 m-1 rounded border bg-danger text-white">danger - #E32107</div>
    <div class="col-1 p-3 m-1 rounded border bg-red-coral-light text-dark">red-coral-light - #FEC0B9</div>
    <div class="col-1 p-3 m-1 rounded border bg-red-velvet text-white">red-velvet - #FF7575</div>
    <div class="col-1 p-3 m-1 rounded border bg-primary text-white">primary - #BDEFB1</div>
    <div class="col-1 p-3 m-1 rounded border bg-dark text-white">dark - #191919</div>
    <div class="col-1 p-3 m-1 rounded border bg-dark-light text-white">dark-light - #373737</div>
    <div class="col-1 p-3 m-1 rounded border bg-secondary text-white">secondary - #828282</div>
    <div class="col-1 p-3 m-1 rounded border bg-gray text-dark">gray - #E7E7E7</div>
    <div class="col-1 p-3 m-1 rounded border bg-light text-dark">light - #F2F2F2</div>
    <div class="col-1 p-3 m-1 rounded border bg-gray-surface text-dark">gray-surface - #F2F2F2</div>
    <div class="col-1 p-3 m-1 rounded border bg-white text-dark">white - #FFF</div>
</div>