<div class="row flex-wrap">
    <div class="col-1 p-3 m-1 rounded border bg-success text-white">success - #5AC372</div>
    <div class="col-1 p-3 m-1 rounded border bg-green text-white">green - #5AC372</div>
    <div class="col-1 p-3 m-1 rounded border bg-green-velvet text-white">green-velvet - #78E190</div>
    <div class="col-1 p-3 m-1 rounded border bg-info text-white">info - #2B94CF</div>
    <div class="col-1 p-3 m-1 rounded border bg-warning text-white">warning - #FFCF4E</div>
    <div class="col-1 p-3 m-1 rounded border bg-yellow-sunshine text-dark">yellow-sunshine - #FFCF4E</div>
    <div class="col-1 p-3 m-1 rounded border bg-danger text-white">danger - #eb5050</div>
    <div class="col-1 p-3 m-1 rounded border bg-red-coral-light text-dark">red-coral-light - #FEC0B9</div>
    <div class="col-1 p-3 m-1 rounded border bg-red-velvet text-white">red-velvet - #FF7575</div>
    <div class="col-1 p-3 m-1 rounded border bg-red-coral-dark text-white">red-coral-dark - #EA5E4D</div>
    <div class="col-1 p-3 m-1 rounded border bg-primary text-white">primary - #FE8273</div>
    <div class="col-1 p-3 m-1 rounded border bg-dark text-white">dark - #191919</div>
    <div class="col-1 p-3 m-1 rounded border bg-dark-light text-white">dark-light - #373737</div>
    <div class="col-1 p-3 m-1 rounded border bg-secondary text-white">secondary - #828282</div>
    <div class="col-1 p-3 m-1 rounded border bg-gray text-dark">gray - #E7E7E7</div>
    <div class="col-1 p-3 m-1 rounded border bg-light text-dark">light - #F2F2F2</div>
    <div class="col-1 p-3 m-1 rounded border bg-gray-surface text-dark">gray-surface - #F8F8F8</div>
    <div class="col-1 p-3 m-1 rounded border bg-white text-dark">white - #FFFFFF</div>
</div>