<H3>$theme-colors</H3>
<div class="row">
<div class="col p-3 rounded bg-success text-white">success - #5AC372</div>
<div class="col p-3 rounded bg-info text-white">info - #20c997</div>
<div class="col p-3 rounded bg-warning text-white">warning - #ffc107</div>
<div class="col p-3 rounded bg-danger text-white">danger - #eb5050</div>
<div class="col p-3 rounded bg-primary text-white">primary - #FE8273</div>
<div class="col p-3 rounded bg-secondary text-white">secondary - #828282</div>
<div class="col p-3 rounded bg-gray text-dark">gray - #E7E7E7</div>
<div class="col p-3 rounded bg-light text-dark">light - #F2F2F2</div>
<div class="col p-3 rounded bg-white text-dark">white - #20c997</div>
<div class="col p-3 rounded bg-dark text-white">dark - #191919</div>
<div class="col p-3 rounded bg-red-velvet text-white">red-velvet - #FF7575</div>
<div class="col p-3 rounded bg-red-coral-dark text-white">red-coral-dark - #EA5E4D</div>
<div class="col p-3 rounded bg-green text-white">green - 5AC372</div>
<div class="col p-3 rounded bg-green-velvet text-white">green-velvet - #78E190</div>

</div>