<div class="row bg-info">
    <div class="col-6">
        <div class="pb-2">
            <div class="display-6">normal:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-white-outline">white-outline button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-white-outline disabled">white-outline button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-white-outline active">white-outline button active</button>
        </div>
    </div>
    <div class="col-6">
        <div class="pb-2">
            <div class="display-6">block:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-white-outline btn-block">white-outline button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-white-outline btn-block disabled">white-outline button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-white-outline btn-block active">white-outline button active</button>
        </div>
    </div>
</div>