
<div class="row">
    <div class="col-4">
        <div class="pb-2">
            <div class="display-6">Icons Left & Right:</div>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-dark icon-left-chevronLeft icon-right-chevronRight">Icons left & right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-primary icon-left-chevronLeft icon-right-chevronRight">Icons left & right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-light icon-left-chevronLeft icon-right-chevronRight">Icons left & right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-green icon-left-chevronLeft icon-right-chevronRight">Icons left & right</button>
        </div>
    </div>
    <div class="col-4">
        <div class="pb-2">
            <div class="display-6">Icons Left:</div>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-dark icon-left-chevronLeft">Icons left</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-primary icon-left-chevronLeft">Icons left</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-light icon-left-chevronLeft">Icons left</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-green icon-left-chevronLeft">Icons left</button>
        </div>
    </div>
    <div class="col-4">
        <div class="pb-2">
            <div class="display-6">Icons Right:</div>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-dark icon-right-chevronRight">Icons right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-primary icon-right-chevronRight">Icons right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-light icon-right-chevronRight">Icons right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-green icon-right-chevronRight">Icons right</button>
        </div>
    </div>
</div>
