<div class="form-group custom-control custom-radio">
  <input type="radio"
         class="custom-control-input"
         id="customRadio1"
         name="customRadioGroup1"
         checked="checked">
  <label class="custom-control-label"
         for="customRadio1">
    Custom Radio Checked
  </label>
</div>
<div class="form-group custom-control custom-radio">
  <input type="radio"
         class="custom-control-input"
         id="customRadio2"
         name="customRadioGroup1">
  <label class="custom-control-label"
         for="customRadio2">
    Custom Radio
  </label>
</div>
<div class="form-group custom-control custom-radio">
  <input type="radio"
         class="custom-control-input"
         id="customRadio3"
         name="customRadioGroup2"
         checked="checked"
         disabled="disabled">
  <label class="custom-control-label"
         for="customRadio3">
    Disabled Custom Radio Checked
  </label>
</div>
<div class="form-group custom-control custom-radio">
  <input type="radio"
         class="custom-control-input"
         id="customRadio4"
         name="customRadioGroup2"
         disabled="disabled">
  <label class="custom-control-label"
         for="customRadio4">
    Disabled Custom Radio
  </label>
</div>