<div class="row bg-info">
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-primary">primary default</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-primary disabled">primary disabled</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-primary active">primary active</button>
    </div>

    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-dark">dark default</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-dark disabled">dark disabled</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-dark active">dark active</button>
    </div>

    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-dark-alt">dark-alt default</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-dark-alt disabled">dark-alt disabled</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-dark-alt active">dark-alt active</button>
    </div>

    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-light">light default</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-light disabled">light disabled</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-light active">light active</button>
    </div>

    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-gray-surface">gray-surface default</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-gray-surface disabled">gray-surface disabled</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-gray-surface active">gray-surface active</button>
    </div>

    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-outline-dark">outline-dark default</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-outline-dark disabled">outline-dark disabled</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-outline-dark active">outline-dark active</button>
    </div>

    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-link">link default</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-link disabled">link disabled</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-link active">link active</button>
    </div>

    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-yellow-sunshine">yellow-sunshine default</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-yellow-sunshine disabled">yellow-sunshine disabled</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-yellow-sunshine active">yellow-sunshine active</button>
    </div>

    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-white">white default</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-white disabled">white disabled</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-white active">white active</button>
    </div>

    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-white-alt">white-alt default</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-white-alt disabled">white-alt disabled</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-white-alt active">white-alt active</button>
    </div>

    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-white-transparent">white-transparent default</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-white-transparent disabled">white-transparent disabled</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-white-transparent active">white-transparent active</button>
    </div>

    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-outline-white">outline-white default</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-outline-white disabled">outline-white disabled</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-outline-white active">outline-white active</button>
    </div>

    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-transparent">transparent default</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-transparent disabled">transparent disabled</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-transparent active">transparent active</button>
    </div>

    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-transparent-alt">transparent-alt default</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-transparent-alt disabled">transparent-alt disabled</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-transparent-alt active">transparent-alt active</button>
    </div>

    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-green">green default</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-green disabled">green disabled</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-green active">green active</button>
    </div>

    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-collapsible">collapsible default</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-collapsible disabled">collapsible disabled</button>
    </div>
    <div class="col-4 pb-2">
        <button type="button" class="btn btn-block btn-collapsible active">collapsible active</button>
    </div>
    
</div>

