<button type="button" class="btn btn-primary">btn btn-primary</button>
<a href="#" class="btn btn-primary">btn btn-primary - Anker</a>
<a href="#" class="btn btn-primary disabled">btn btn-light disabled</a>
<a href="#" class="btn btn-primary active">btn btn-light active</a>
<br/>
<br/>
<button type="button" class="btn btn-link">btn btn-link</button>
<a href="#" class="btn btn-link">btn btn-link Anker</a>
<br/>
<br/>
<button type="button" class="btn btn-yellow-sunshine">btn btn-yellow-sunshine</button>
<a href="#" class="btn btn-yellow-sunshine">btn btn-yellow-sunshine</a>
<a href="#" class="btn btn-yellow-sunshine disabled">btn btn-yellow-sunshine disabled</a>
<a href="#" class="btn btn-yellow-sunshine active">btn btn-yellow-sunshine active</a>
<br/>
<br/>
<button type="button" class="btn btn-light">btn btn-light</button>
<a href="#" class="btn btn-light">btn btn-light - Anker</a>
<a href="#" class="btn btn-light disabled">btn btn-light disabled</a>
<a href="#" class="btn btn-light active">btn btn-light active</a>
<br/>
<br/>
<button type="button" class="btn btn-dark">btn btn-dark</button>
<a href="#" class="btn btn-dark">btn btn-dark - Anker</a>
<a href="#" class="btn btn-dark disabled">btn btn-dark disabled</a>
<a href="#" class="btn btn-dark active">btn btn-dark active</a>
<br/>
<br/>
<button type="button" class="btn btn-gray-surface">btn btn-gray-surface</button>
<a href="#" class="btn btn-gray-surface">btn btn-gray-surface - Anker</a>
<a href="#" class="btn btn-gray-surface disabled">btn btn-gray-surface disabled</a>
<a href="#" class="btn btn-gray-surface active">btn btn-gray-surface active</a>
<br/>
<br/>
<button type="button" class="btn btn-white">btn btn-white</button>
<a href="#" class="btn btn-white">btn btn-white</a>
<a href="#" class="btn btn-white disabled">btn btn-white disabled</a>
<a href="#" class="btn btn-white active">btn btn-white active</a>
<br/>
<br/>
<button type="button" class="btn btn-white-alt">btn btn-white-alt</button>
<a href="#" class="btn btn-white-alt">btn btn-white-alt</a>
<a href="#" class="btn btn-white-alt disabled">btn btn-white-alt disabled</a>
<a href="#" class="btn btn-white-alt active">btn btn-white-alt active</a>
<br/>
<br/>
<button type="button" class="btn btn-white-outline">btn btn-white-outline</button>
<a href="#" class="btn btn-white-outline">btn btn-white-outline</a>
<a href="#" class="btn btn-white-outline disabled">btn btn-white-outline disabled</a>
<a href="#" class="btn btn-white-outline active">btn btn-white-outline active</a>
<br/>
<br/>
<button type="button" class="btn btn-white-invisible">btn btn-white-invisible</button>
<a href="#" class="btn btn-white-invisible">btn btn-white-invisible</a>
<a href="#" class="btn btn-white-invisible disabled">btn btn-white-invisible disabled</a>
<a href="#" class="btn btn-white-invisible active">btn btn-white-invisible active</a>
