<button type="button" class="btn">main button default - Button</button>
<a href="#" class="btn">main button default - Anker</a>

<button type="button" class="btn btn-primary">main button default - Button</button>
<a href="#" class="btn btn-primary">main button default - Anker</a>

<button type="button" class="btn btn-secondary">main button default - Button</button>
<a href="#" class="btn btn-secondary">main button default - Anker</a>

<button type="button" class="btn btn-gray">main button default - Button</button>
<a href="#" class="btn btn-gray">main button default - Anker</a>

<button type="button" class="btn btn-light">main button default - Button</button>
<a href="#" class="btn btn-light">main button default - Anker</a>

<button type="button" class="btn btn-dark">main button default - Button</button>
<a href="#" class="btn btn-dark">main button default - Anker</a>

<button type="button" class="btn btn-success">main button default - Button</button>
<a href="#" class="btn btn-success">main button default - Anker</a>

<button type="button" class="btn btn-info">main button default - Button</button>
<a href="#" class="btn btn-info">main button default - Anker</a>

<button type="button" class="btn btn-warning">main button default - Button</button>
<a href="#" class="btn btn-warning">main button default - Anker</a>

<button type="button" class="btn btn-danger">main button default - Button</button>
<a href="#" class="btn btn-danger">main button default - Anker</a>

<button type="button" class="btn btn-primary">main button default - Button</button>
<a href="#" class="btn btn-primary">main button default - Anker</a>

<button type="button" class="btn btn-outline-primary">main button default - Button</button>
<a href="#" class="btn btn-outline-primary">main button default - Anker</a>

<button type="button" class="btn btn-outline-secondary">main button default - Button</button>
<a href="#" class="btn btn-outline-secondary">main button default - Anker</a>

<button type="button" class="btn btn-outline-gray">main button default - Button</button>
<a href="#" class="btn btn-outline-gray">main button default - Anker</a>

<button type="button" class="btn btn-outline-light">main button default - Button</button>
<a href="#" class="btn btn-outline-light">main button default - Anker</a>

<button type="button" class="btn btn-outline-dark">main button default - Button</button>
<a href="#" class="btn btn-outline-dark">main button default - Anker</a>

<button type="button" class="btn btn-outline-success">main button default - Button</button>
<a href="#" class="btn btn-outline-success">main button default - Anker</a>

<button type="button" class="btn btn-outline-info">main button default - Button</button>
<a href="#" class="btn btn-outline-info">main button default - Anker</a>

<button type="button" class="btn btn-outline-warning">main button default - Button</button>
<a href="#" class="btn btn-outline-warning">main button default - Anker</a>

<button type="button" class="btn btn-outline-danger">main button default - Button</button>
<a href="#" class="btn btn-outline-danger">main button default - Anker</a>