<h3 class="pb-2">Buttons</h3>

<br>
<br>
<div class="row">
    <div class="col-2 display-5 mb-1">
    </div>
    <div class="col-5 display-5 mb-1">
        inline Buttons (min-width 160px)
    </div>
    <div class="col-5 display-5 mb-1">
        Block Buttons (width: 100%)
    </div>
</div>
<div class="row">
    <div class="col-2 display-5 mb-1">
        No Icons
    </div>
    <div class="col-10 display-5 mb-1">
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary text-truncate">.btn</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-primary text-truncate">.btn .btn-block</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary btn-sm text-truncate">.btn .btn-sm</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-sm btn-primary text-truncate">.btn .btn-block .btn-sm</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary btn-sm btn-small text-truncate">.btn .btn-sm .btn-small</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-sm btn-small btn-primary text-truncate">.btn .btn-block .btn-sm .btn-small</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-lg btn-primary">.btn .btn-lg</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-lg btn-primary">.btn .btn-block .btn-lg</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-xl btn-primary">.btn .btn-xl</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-xl btn-primary">.btn .btn-block .btn-xl</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-2 display-5 mb-1">
        Block Icons (relativ to the Button - left or right)
    </div>
    <div class="col-10 display-5 mb-1">
        <div class="row">

            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary icon-svg icon-eye icon-left text-truncate">.btn</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-primary icon-svg icon-eye icon-left text-truncate">.btn .btn-block</a>
            </div>
        </div>
        <div class="row">

            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary btn-sm icon-svg icon-eye icon-left text-truncate">.btn .btn-sm</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-sm btn-primary icon-svg icon-eye icon-left text-truncate">.btn .btn-block
                    .btn-sm</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary btn-sm btn-small icon-svg icon-eye icon-left text-truncate">.btn .btn-sm .btn-small</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-sm btn-small btn-primary icon-svg icon-eye icon-left text-truncate">.btn .btn-block .btn-sm .btn-small</a>
            </div>

        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-lg btn-primary icon-svg icon-eye icon-left">.btn .btn-lg</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-lg btn-primary icon-svg icon-eye icon-left">.btn .btn-block .btn-lg</a>
            </div>

            <div class="col-6 mb-1">
                <a href="#" class="btn btn-xl btn-primary icon-svg icon-eye icon-left">.btn .btn-xl</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-xl btn-primary icon-svg icon-eye icon-left">.btn .btn-block .btn-xl</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary icon-svg icon-eye icon-right text-truncate">.btn</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-primary icon-svg icon-eye icon-right text-truncate">.btn .btn-block</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary btn-sm icon-svg icon-eye icon-right text-truncate">.btn .btn-sm</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-sm btn-primary icon-svg icon-eye icon-right text-truncate">.btn .btn-block
                    .btn-sm</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary btn-sm btn-small icon-svg icon-eye icon-right text-truncate">.btn .btn-sm .btn-small</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-sm btn-small btn-primary icon-svg icon-eye icon-right text-truncate">.btn .btn-block .btn-sm .btn-small</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-lg btn-primary icon-svg icon-eye icon-right">.btn .btn-lg</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-lg btn-primary icon-svg icon-eye icon-right">.btn .btn-block .btn-lg</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-xl btn-primary icon-svg icon-eye icon-right">.btn .btn-xl</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-xl btn-primary icon-svg icon-eye icon-right">.btn .btn-block .btn-xl</a>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<div class="row">
    <div class="col-2 display-5 mb-1">
        Inline Icons (relativ to the label)
    </div>
    <div class="col-10 display-5 mb-1">
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary icon-svg icon-eye icon-left icon-inline text-truncate">.btn .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-primary icon-svg icon-eye icon-left icon-inline text-truncate">.btn .btn-block .icon-inline</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary btn-sm icon-svg icon-eye icon-left icon-inline text-truncate">.btn .btn-sm .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-sm btn-primary icon-svg icon-eye icon-left icon-inline text-truncate">.btn .btn-block .icon-inline
                    .btn-sm</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-lg btn-primary icon-svg icon-eye icon-left icon-inline">.btn .btn-lg .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-lg btn-primary icon-svg icon-eye icon-left icon-inline">.btn .btn-block .icon-inline
                    .btn-lg</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-xl btn-primary icon-svg icon-eye icon-left icon-inline">.btn .btn-xl .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-xl btn-primary icon-svg icon-eye icon-left icon-inline">.btn .btn-block .icon-inline
                    .btn-xl</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary icon-svg icon-eye icon-right icon-inline text-truncate">.btn .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-primary icon-svg icon-eye icon-right icon-inline text-truncate">.btn .btn-block .icon-inline</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary btn-sm icon-svg icon-eye icon-right icon-inline text-truncate">.btn .btn-sm .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-sm btn-primary icon-svg icon-eye icon-right icon-inline text-truncate">.btn .btn-block
                    .btn-sm .icon-inline</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-lg btn-primary icon-svg icon-eye icon-right icon-inline">.btn .btn-lg .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-lg btn-primary icon-svg icon-eye icon-right icon-inline">.btn .btn-block
                    .btn-lg .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-xl btn-primary icon-svg icon-eye icon-right icon-inline">.btn .btn-xl .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-xl btn-primary icon-svg icon-eye icon-right icon-inline">.btn .btn-block
                    .btn-xl .icon-inline</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<h4 class="display-6 pt-6 pb-2">Das CSS-Hooks der folgenden Buttons sind komplett ausdeklariert im Figmar. Die jeweiligen Themes sind unter den jeweiligen Sprungmarken detailliert sichtbar.</h4>
<button type="button" class="btn btn-link">btn btn-link</button>
<a href="#" class="btn btn-link">btn btn-link Anker</a>
<br/>
<button type="button" class="btn btn-primary">btn btn-primary</button>
<a href="#" class="btn btn-primary">btn btn-primary - Anker</a>
<a href="#" class="btn btn-primary disabled">btn btn-light disabled</a>
<a href="#" class="btn btn-primary active">btn btn-light active</a>
<br/>
<button type="button" class="btn btn-yellow-sunshine">btn btn-yellow-sunshine</button>
<a href="#" class="btn btn-yellow-sunshine">btn btn-yellow-sunshine</a>
<a href="#" class="btn btn-yellow-sunshine disabled">btn btn-yellow-sunshine disabled</a>
<a href="#" class="btn btn-yellow-sunshine active">btn btn-yellow-sunshine active</a>
<br/>
<button type="button" class="btn btn-light">btn btn-light</button>
<a href="#" class="btn btn-light">btn btn-light - Anker</a>
<a href="#" class="btn btn-light disabled">btn btn-light disabled</a>
<a href="#" class="btn btn-light active">btn btn-light active</a>
<br/>
<button type="button" class="btn btn-dark">btn btn-dark</button>
<a href="#" class="btn btn-dark">btn btn-dark - Anker</a>
<a href="#" class="btn btn-dark disabled">btn btn-dark disabled</a>
<a href="#" class="btn btn-dark active">btn btn-dark active</a>
<br/>
<h4 class="display-6 pt-6 pb-2">Das CSS-Hooks der folgenden Buttons sind Bootstrap Standard. Sie sind hier der Vollständigkeit halber. Bitte nicht im DOM nutzen ohne Design im Figmar</h4>
<br/>
<button type="button" class="btn btn-secondary">btn btn-secondary</button>
<a href="#" class="btn btn-secondary">btn btn-secondary - Anker</a>
<br/>
<button type="button" class="btn btn-gray">btn btn-gray</button>
<a href="#" class="btn btn-gray">btn btn-gray - Anker</a>
<br/>
<button type="button" class="btn btn-success">btn btn-success</button>
<a href="#" class="btn btn-success">btn btn-success - Anker</a>
<br/>
<button type="button" class="btn btn-info">btn btn-info</button>
<a href="#" class="btn btn-info">btn btn-info - Anker</a>
<br/>
<button type="button" class="btn btn-warning">btn btn-warning</button>
<a href="#" class="btn btn-warning">btn btn-warning - Anker</a>
<br/>
<button type="button" class="btn btn-danger">btn btn-danger</button>
<a href="#" class="btn btn-danger">btn btn-danger - Anker</a>
<br/>
<button type="button" class="btn btn-red-velvet">btn btn-red-velvet</button>
<a href="#" class="btn btn-red-velvet ">btn btn-red-velvet - Anker</a>
<br/>
<button type="button" class="btn btn-red-coral-dark">btn btn-red-coral-dark</button>
<a href="#" class="btn btn-red-coral-dark">btn btn-red-coral-dark - Anker</a>
<br/>
<button type="button" class="btn btn-green">btn btn-green</button>
<a href="#" class="btn btn-green">btn btn-green - Anker</a>
<br/>
<button type="button" class="btn btn-green-velvet">btn btn-green-velvet</button>
<a href="#" class="btn btn-green-velvet">btn btn-green-velvet</a>

<h3 class="pt-5 pb-2">Outline Buttons</h3>
<h4 class="display-6 py-3">Das CSS-Hooks der folgenden Buttons sind Bootstrap Standard. Sie sind hier der Vollständigkeit halber. Bitte nicht im DOM nutzen ohne Design im Figmar</h4>
<button type="button" class="btn btn-outline-primary">btn btn-outline-primary</button>
<a href="#" class="btn btn-outline-primary">btn btn-outline-primary - Anker</a>
<br/>
<button type="button" class="btn btn-outline-secondary">btn btn-outline-secondary</button>
<a href="#" class="btn btn-outline-secondary">btn btn-outline-secondary - Anker</a>
<br/>
<button type="button" class="btn btn-outline-gray">btn btn-outline-gray</button>
<a href="#" class="btn btn-outline-gray">btn btn-outline-gray - Anker</a>
<br/>
<button type="button" class="btn btn-outline-light">btn btn-outline-light</button>
<a href="#" class="btn btn-outline-light">btn btn-outline-light - Anker</a>
<br/>
<button type="button" class="btn btn-outline-dark">btn btn-outline-dark</button>
<a href="#" class="btn btn-outline-dark">btn btn-outline-dark - Anker</a>
<br/>
<button type="button" class="btn btn-outline-success">btn btn-outline-success</button>
<a href="#" class="btn btn-outline-success">btn btn-outline-success - Anker</a>
<br/>
<button type="button" class="btn btn-outline-info">btn btn-outline-info</button>
<a href="#" class="btn btn-outline-info">btn btn-outline-info - Anker</a>
<br/>
<button type="button" class="btn btn-outline-warning">btn btn-outline-warning</button>
<a href="#" class="btn btn-outline-warning">btn btn-outline-warning - Anker</a>
<br/>
<button type="button" class="btn btn-outline-danger">btn btn-outline-danger</button>
<a href="#" class="btn btn-outline-danger">btn btn-outline-danger - Anker</a>
<br/>
<button type="button" class="btn btn-outline-red-velvet">btn btn-outline-red-velvet</button>
<a href="#" class="btn btn-outline-red-velvet ">btn btn-outline-red-velvet - Anker</a>
<br/>
<button type="button" class="btn btn-outline-red-coral-dark">btn btn-outline-red-coral-dark</button>
<a href="#" class="btn btn-outline-red-coral-dark">btn btn-outline-red-coral-dark - Anker</a>
<br/>
<button type="button" class="btn btn-outline-green">btn btn-outline-green</button>
<a href="#" class="btn btn-outline-green">btn btn-outline-green - Anker</a>
<br/>
<button type="button" class="btn btn-outline-green-velvet">btn btn-outline-green-velvet</button>
<a href="#" class="btn btn-outline-green-velvet">btn btn-outline-green-velvet</a>
<br/>
<button type="button" class="btn btn-outline-yellow-sunshine">btn btn-outline-yellow-sunshine</button>
<a href="#" class="btn btn-outline-yellow-sunshine">btn btn-outline-yellow-sunshine</a>