<h3 class="pb-2">Buttons</h3>
<button type="button" class="btn">btn</button>
<a href="#" class="btn">btn Anker</a>
<br />
<button type="button" class="btn btn-primary">btn btn-primary</button>
<a href="#" class="btn btn-primary">btn btn-primary - Anker</a>
<br />
<button type="button" class="btn btn-secondary">btn btn-secondary</button>
<a href="#" class="btn btn-secondary">btn btn-secondary - Anker</a>
<br />
<button type="button" class="btn btn-gray">btn btn-gray</button>
<a href="#" class="btn btn-gray">btn btn-gray - Anker</a>
<br />
<button type="button" class="btn btn-light">btn btn-light</button>
<a href="#" class="btn btn-light">btn btn-light - Anker</a>
<a href="#" class="btn btn-light disabled">btn btn-light disabled</a>
<a href="#" class="btn btn-light active">btn btn-light active</a>

<a href="#" class="btn btn-light small active">btn btn-light active</a>
<br />
<button type="button" class="btn btn-dark">btn btn-dark</button>
<a href="#" class="btn btn-dark">btn btn-dark - Anker</a>
<a href="#" class="btn btn-dark disabled">btn btn-dark disabled</a>
<a href="#" class="btn btn-dark active">btn btn-dark active</a>
<br />
<button type="button" class="btn btn-success">btn btn-success</button>
<a href="#" class="btn btn-success">btn btn-success - Anker</a>
<br />
<button type="button" class="btn btn-info">btn btn-info</button>
<a href="#" class="btn btn-info">btn btn-info - Anker</a>
<br />
<button type="button" class="btn btn-warning">btn btn-warning</button>
<a href="#" class="btn btn-warning">btn btn-warning - Anker</a>
<br />
<button type="button" class="btn btn-danger">btn btn-danger</button>
<a href="#" class="btn btn-danger">btn btn-danger - Anker</a>
<br />
<button type="button" class="btn btn-red-velvet">btn btn-red-velvet</button>
<a href="#" class="btn btn-red-velvet ">btn btn-red-velvet - Anker</a>
<br />
<button type="button" class="btn btn-red-coral-dark">btn btn-red-coral-dark</button>
<a href="#" class="btn btn-red-coral-dark">btn btn-red-coral-dark - Anker</a>
<br />
<button type="button" class="btn btn-green">btn btn-green</button>
<a href="#" class="btn btn-green">btn btn-green - Anker</a>
<br />
<button type="button" class="btn btn-green-velvet">btn btn-green-velvet</button>
<a href="#" class="btn btn-green-velvet">btn btn-green-velvet</a>


<h3 class="pt-5 pb-2">Outline Buttons</h3>

<button type="button" class="btn btn-outline-primary">btn btn-outline-primary</button>
<a href="#" class="btn btn-outline-primary">btn btn-outline-primary - Anker</a>
<br />
<button type="button" class="btn btn-outline-secondary">btn btn-outline-secondary</button>
<a href="#" class="btn btn-outline-secondary">btn btn-outline-secondary - Anker</a>
<br />
<button type="button" class="btn btn-outline-gray">btn btn-outline-gray</button>
<a href="#" class="btn btn-outline-gray">btn btn-outline-gray - Anker</a>
<br />
<button type="button" class="btn btn-outline-light">btn btn-outline-light</button>
<a href="#" class="btn btn-outline-light">btn btn-outline-light - Anker</a>
<br />
<button type="button" class="btn btn-outline-dark">btn btn-outline-dark</button>
<a href="#" class="btn btn-outline-dark">btn btn-outline-dark - Anker</a>
<br />
<button type="button" class="btn btn-outline-success">btn btn-outline-success</button>
<a href="#" class="btn btn-outline-success">btn btn-outline-success - Anker</a>
<br />
<button type="button" class="btn btn-outline-info">btn btn-outline-info</button>
<a href="#" class="btn btn-outline-info">btn btn-outline-info - Anker</a>
<br />
<button type="button" class="btn btn-outline-warning">btn btn-outline-warning</button>
<a href="#" class="btn btn-outline-warning">btn btn-outline-warning - Anker</a>
<br />
<button type="button" class="btn btn-outline-danger">btn btn-outline-danger</button>
<a href="#" class="btn btn-outline-danger">btn btn-outline-danger - Anker</a>
<br />
<button type="button" class="btn btn-outline-red-velvet">btn btn-outline-red-velvet</button>
<a href="#" class="btn btn-outline-red-velvet ">btn btn-outline-red-velvet - Anker</a>
<br />
<button type="button" class="btn btn-outline-red-coral-dark">btn btn-outline-red-coral-dark</button>
<a href="#" class="btn btn-outline-red-coral-dark">btn btn-outline-red-coral-dark - Anker</a>
<br />
<button type="button" class="btn btn-outline-green">btn btn-outline-green</button>
<a href="#" class="btn btn-outline-green">btn btn-outline-green - Anker</a>
<br />
<button type="button" class="btn btn-outline-green-velvet">btn btn-outline-green-velvet</button>
<a href="#" class="btn btn-outline-green-velvet">btn btn-outline-green-velvet</a>