<div class="display-7 d-inline-block pr-3">GlobalMessage:</div>
<div class="display-23 d-inline-block">(nur ein Text)</div>

<div class="alert alert-success text-success mb-4">
    <div class="d-flex">
        <div class="icon-checkmark-white bg-success rounded-circle flex-shrink-0"></div>
        <div class="pl-3 flex-column d-flex justify-content-center">
            Erfolg! Erfolgsmeldung
        </div>
    </div>
</div>
<div class="alert alert-warning text-warning mb-4">
    <div class="d-flex">
        <div class="icon-exclamationMark-white bg-warning rounded-circle flex-shrink-0"></div>
        <div class="pl-3 flex-column d-flex justify-content-center">
            Warnung! Warnungsmeldung
        </div>
    </div>
</div>
<div class="alert alert-danger text-danger mb-4">
    <div class="d-flex">
        <div class="icon-close-white bg-danger rounded-circle flex-shrink-0"></div>
        <div class="pl-3 flex-column d-flex justify-content-center">
            Info! Infomeldung
        </div>
    </div>
</div>
<div class="alert alert-dark bg-gray-surface mb-4">
    <div class="d-flex">
        <div class="icon-questionMark-white bg-dark rounded-circle flex-shrink-0"></div>
        <div class="pl-3 flex-column d-flex justify-content-center">
            Message! Default Messages
        </div>
    </div>
</div>

<div class="display-7 d-inline-block pr-3">OlsGlobalMessage:</div>
<div class="display-23 d-inline-block">(Überschrift, Beschreibungstext und Button möglich)</div>

<div class="alert alert-success text-success mb-4">
    <div class="d-flex">
        <div class="icon-checkmark-white bg-success rounded-circle flex-shrink-0"></div>
        <div class="pl-3 flex-column d-flex justify-content-center">
            <div class="display-7">Erfolg! Erfolgsmeldung Überschrift</div>
            <div class="display-23">Beschreibungstext Erfolgsmeldung</div>
        </div>
    </div>
    <div class="pl-md-5 ml-md-2 pt-3">
        <a href="#" class="btn btn-success text-white global-message-btn">
            Call to Action
        </a>
    </div>
</div>
<div class="alert alert-warning text-warning mb-4">
    <div class="d-flex">
        <div class="icon-exclamationMark-white bg-warning rounded-circle flex-shrink-0"></div>
        <div class="pl-3 flex-column d-flex justify-content-center">
            <div class="display-7">Warnung! Warnungsmeldung Headline</div>
            <div class="display-23">Beschreibungstext Warnungsmeldung</div>
        </div>
    </div>
    <div class="pl-md-5 ml-md-2 pt-3">
        <a href="#" class="btn btn-warning text-white global-message-btn">
            Call to Action
        </a>
    </div>
</div>
<div class="alert alert-danger text-danger mb-4">
    <div class="d-flex">
        <div class="icon-close-white bg-danger rounded-circle flex-shrink-0"></div>
        <div class="pl-3 flex-column d-flex justify-content-center">
            <div class="display-7">Info! Infomeldung Headline</div>
            <div class="display-23">Beschreibungstext Infomeldung</div>
        </div>
    </div>
    <div class="pl-md-5 ml-md-2 pt-3">
        <a href="#" class="btn btn-danger text-white global-message-btn">
            Call to Action
        </a>
    </div>
</div>
<div class="alert alert-dark bg-gray-surface mb-4">
    <div class="d-flex">
        <div class="icon-questionMark-white bg-dark rounded-circle flex-shrink-0"></div>
        <div class="pl-3 flex-column d-flex justify-content-center">
            <div class="display-7">Message! Default Messages Headline</div>
            <div class="display-23">Beschreibungstext, Default Messages</div>
        </div>
    </div>
    <div class="pl-md-5 ml-md-2 pt-3">
        <a href="#" class="btn btn-dark text-white global-message-btn">
            Call to Action
        </a>
    </div>
</div>
