<div class="alert alert-success text-success alert-dismissible d-flex align-items-center">
    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">
        <div class="icon-close-success"></div>
    </button>
    <div class="icon-checkmark-white bg-success rounded-circle flex-shrink-0"></div>
    <div class="pl-3 d-flex align-items-center">
        Erfolg! Erfolgsmeldung
    </div>
</div>
<div class="alert alert-warning text-warning alert-dismissible d-flex align-items-center">
    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">
        <div class="icon-close-warning"></div>
    </button>
    <div class="icon-exclamationMark-white bg-warning rounded-circle flex-shrink-0"></div>
    <div class="pl-3 d-flex align-items-center">
        Warnung! Warnungsmeldung
    </div>
</div>
<div class="alert alert-danger text-danger alert-dismissible d-flex">
    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">
        <div class="icon-close-danger"></div>
    </button>
    <div class="icon-close-white bg-danger rounded-circle flex-shrink-0"></div>
    <div class="pl-3 d-flex align-items-center">
        Error! Errormeldung
    </div>
</div>
