<div class="alert alert-success text-success alert-dismissible d-flex align-items-center">
    <div class="icon-checkmark-white bg-success rounded-circle flex-shrink-0"></div>
    <div class="pl-3 d-flex align-items-center">
        Erfolg! Erfolgsmeldung
    </div>
</div>
<div class="alert alert-warning text-warning alert-dismissible d-flex align-items-center">
    <div class="icon-exclamationMark-white bg-warning rounded-circle flex-shrink-0"></div>
    <div class="pl-3 d-flex align-items-center">
        Warnung! Warnungsmeldung
    </div>
</div>
<div class="alert alert-danger text-danger alert-dismissible d-flex">
    <div class="icon-close-white bg-danger rounded-circle flex-shrink-0"></div>
    <div class="pl-3 d-flex align-items-center">
        Error! Errormeldung
    </div>
</div>
<div class="alert alert-info text-info alert-dismissible d-flex">
    <div class="icon-i-white bg-info rounded-circle flex-shrink-0"></div>
    <div class="pl-3 d-flex align-items-center">
        Info Infomeldung
    </div>
</div>
<div class="alert alert-dark shadow-lg bg-gray-surface alert-dismissible d-flex">
    <div class="icon-questionMark-white bg-dark rounded-circle flex-shrink-0"></div>
    <div class="pl-3 d-flex align-items-center">
        Message. Default Messages
    </div>
</div>

