<div class="row bg-light bg-full-width-light">
    <div class="d-none d-md-block pt-4 pb-4 col-md-12">
        <div>
            <div class="content">
                <div>Paypal Visa Mastercard Saferpay DHL Hermes</div>
            </div>
        </div>
    </div>

    <div class="d-md-none mb-1 pt-4 pb-4 col-12">
        <a class="btn btn-block btn-collapsible border border-light py-2 pl-3 text-left collapsed" data-toggle="collapse" href="#paymentsShippingCollapsibleWrapperComponent" aria-expanded="false" aria-controls="paymentsShippingCollapsibleWrapperComponent">
            <div class="h5 mb-0">Zahlung und Versand</div>
        </a>
        <div class="collapse bg-white p-4 mb-1 mx-1" id="paymentsShippingCollapsibleWrapperComponent">
            <div class="content">
                <div>Paypal Visa Mastercard Saferpay DHL Hermes</div>
            </div>
        </div>
    </div>
</div>