/*!*************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js!../../node_modules/postcss-loader/dist/cjs.js!../../web/webroot/WEB-INF/_ui-src/responsive/fonts/external/fonts.css ***!
  \*************************************************************************************************************************************************************************/
/* Schmuckschriftart für GL und LS */
@font-face {
	font-family: 'TheSeasonsBold';
	src: url(./font/TheSeasons-Bold.woff2) format("woff2"),
		url(./font/TheSeasons-Bold.woff) format("woff");
}

/*!***********************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js!../../node_modules/postcss-loader/dist/cjs.js!../../web/webroot/WEB-INF/_ui-src/responsive/fonts/google/fonts.css ***!
  \***********************************************************************************************************************************************************************/
/* === Bebas Neue - regular */
@font-face {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	
	src: url(./font/BebasNeue-Regular.woff2) format("woff2"),
		url(./font/BebasNeue-Regular.woff) format("woff");
}

/* === Lora - regular */
@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	
	src: url(./font/Lora-Regular.woff2) format("woff2"),
		url(./font/Lora-Regular.woff) format("woff");
}

/* === Lora - 500 */
@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	
	src: url(./font/Lora-Medium.woff2) format("woff2"),
		url(./font/Lora-Medium.woff) format("woff");
}

/* === Open Sans - regular */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	
	src: url(./font/OpenSans-Regular.woff2) format("woff2"),
		url(./font/OpenSans-Regular.woff) format("woff");
}

/* === Open Sans - 300 */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	
	src: url(./font/OpenSans-Light.woff2) format("woff2"),
		url(./font/OpenSans-Light.woff) format("woff");
}

/* === Open Sans - 300italic */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	
	src: url(./font/OpenSans-LightItalic.woff2) format("woff2"),
		url(./font/OpenSans-LightItalic.woff) format("woff");
}

/* === Open Sans - italic */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	
	src: url(./font/OpenSans-Italic.woff2) format("woff2"),
		url(./font/OpenSans-Italic.woff) format("woff");
}

/* === Open Sans - 600 */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	
	src: url(./font/OpenSans-SemiBold.woff2) format("woff2"),
		url(./font/OpenSans-SemiBold.woff) format("woff");
}

/* === Open Sans - 600italic */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	
	src: url(./font/OpenSans-SemiBoldItalic.woff2) format("woff2"),
		url(./font/OpenSans-SemiBoldItalic.woff) format("woff");
}

/* === Open Sans - 700 */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	
	src: url(./font/OpenSans-Bold.woff2) format("woff2"),
		url(./font/OpenSans-Bold.woff) format("woff");
}

/* === Open Sans - 700italic */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	
	src: url(./font/OpenSans-BoldItalic.woff2) format("woff2"),
		url(./font/OpenSans-BoldItalic.woff) format("woff");
}

/* === Open Sans - 800 */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	
	src: url(./font/OpenSans-ExtraBold.woff2) format("woff2"),
		url(./font/OpenSans-ExtraBold.woff) format("woff");
}

/* === Open Sans - 800italic */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	
	src: url(./font/OpenSans-ExtraBoldItalic.woff2) format("woff2"),
		url(./font/OpenSans-ExtraBoldItalic.woff) format("woff");
}

/* === Playfair Display - 700 */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	
	src: url(./font/PlayfairDisplay-Bold.woff2) format("woff2"),
		url(./font/PlayfairDisplay-Bold.woff) format("woff");
}

/* === Public Sans - regular */
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	
	src: url(./font/PublicSans-Regular.woff2) format("woff2"),
		url(./font/PublicSans-Regular.woff) format("woff");
}

/* === Public Sans - 300 */
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	
	src: url(./font/PublicSans-Light.woff2) format("woff2"),
		url(./font/PublicSans-Light.woff) format("woff");
}

/* === Public Sans - 300italic */
@font-face {
	font-family: 'Public Sans';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	
	src: url(./font/PublicSans-LightItalic.woff2) format("woff2"),
		url(./font/PublicSans-LightItalic.woff) format("woff");
}

/* === Public Sans - italic */
@font-face {
	font-family: 'Public Sans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	
	src: url(./font/PublicSans-Italic.woff2) format("woff2"),
		url(./font/PublicSans-Italic.woff) format("woff");
}

/* === Public Sans - 600 */
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	
	src: url(./font/PublicSans-SemiBold.woff2) format("woff2"),
		url(./font/PublicSans-SemiBold.woff) format("woff");
}

/* === Public Sans - 600italic */
@font-face {
	font-family: 'Public Sans';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	
	src: url(./font/PublicSans-SemiBoldItalic.woff2) format("woff2"),
		url(./font/PublicSans-SemiBoldItalic.woff) format("woff");
}

/* === Public Sans - 700 */
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	
	src: url(./font/PublicSans-Bold.woff2) format("woff2"),
		url(./font/PublicSans-Bold.woff) format("woff");
}

/* === Public Sans - 700italic */
@font-face {
	font-family: 'Public Sans';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	
	src: url(./font/PublicSans-BoldItalic.woff2) format("woff2"),
		url(./font/PublicSans-BoldItalic.woff) format("woff");
}

/* === Public Sans - 800 */
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	
	src: url(./font/PublicSans-ExtraBold.woff2) format("woff2"),
		url(./font/PublicSans-ExtraBold.woff) format("woff");
}

/* === Public Sans - 800italic */
@font-face {
	font-family: 'Public Sans';
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	
	src: url(./font/PublicSans-ExtraBoldItalic.woff2) format("woff2"),
		url(./font/PublicSans-ExtraBoldItalic.woff) format("woff");
}

/* === Roboto - regular */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	
	src: url(./font/Roboto-Regular.woff2) format("woff2"),
		url(./font/Roboto-Regular.woff) format("woff");
}

/* === Roboto - 500 */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	
	src: url(./font/Roboto-Medium.woff2) format("woff2"),
		url(./font/Roboto-Medium.woff) format("woff");
}

/* === Roboto - 700 */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	
	src: url(./font/Roboto-Bold.woff2) format("woff2"),
		url(./font/Roboto-Bold.woff) format("woff");
}

/* === Ubuntu - regular */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	
	src: url(./font/Ubuntu-Regular.woff2) format("woff2"),
		url(./font/Ubuntu-Regular.woff) format("woff");
}

/* === Ubuntu - 300 */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	
	src: url(./font/Ubuntu-Light.woff2) format("woff2"),
		url(./font/Ubuntu-Light.woff) format("woff");
}

/* === Ubuntu - 300italic */
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	
	src: url(./font/Ubuntu-LightItalic.woff2) format("woff2"),
		url(./font/Ubuntu-LightItalic.woff) format("woff");
}

/* === Ubuntu - italic */
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	
	src: url(./font/Ubuntu-Italic.woff2) format("woff2"),
		url(./font/Ubuntu-Italic.woff) format("woff");
}

/* === Ubuntu - 700 */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	
	src: url(./font/Ubuntu-Bold.woff2) format("woff2"),
		url(./font/Ubuntu-Bold.woff) format("woff");
}

/* === Ubuntu - 700italic */
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	
	src: url(./font/Ubuntu-BoldItalic.woff2) format("woff2"),
		url(./font/Ubuntu-BoldItalic.woff) format("woff");
}

