<div class="container px-0 pb-6 pb-lg-7">
    <div class="row pb-3">
        <div class="col-12 mx-0">
            <h2 class="px-3 px-md-5 px-lg-0 display-8 display-md-4">Suchen Sie etwas bestimmtes?</h2>
        </div>
    </div>
    <div class="row flex-nowrap no-gutters justify-content-between overflow-x-auto category-bar">
        <div class="col ml-3 ml-md-5 ml-lg-0">
            <a href="#"
               class="btn px-2 display-7 h-100 d-flex align-items-center justify-content-center btn-gray-surface"
               title="Hose Mony">Hose Mony</a>
        </div>
        <div class="col ml-4">
            <a href="#" class="btn px-2 display-7 h-100 d-flex align-items-center justify-content-center btn-gray-surface"
               title="Entlastungs-BH Kelly">Entlastungs-BH Kelly</a>
        </div>
        <div class="col ml-4">
            <a href="#" class="btn px-2 display-7 h-100 d-flex align-items-center justify-content-center btn-gray-surface"
               title="Sweatjacke">Sweatjacke</a>
        </div>
        <div class="col ml-4">
            <a href="#" class="btn px-2 display-7 h-100 d-flex align-items-center justify-content-center btn-gray-surface"
               title="Basic-T-Shirt">Basic-T-Shirt</a>
        </div>
        <div class="col ml-4 last-category">
            <a href="#" class="btn px-2 display-7 h-100 d-flex align-items-center justify-content-center btn-gray-surface"
               title="Anderes">Anderes</a>
        </div>
    </div>
</div>
