<div class="container category-bar-component my-lg-5 my-4">
    <div class="row">
        <div class="h2 col-12">Suchen Sie etwas bestimmtes?</div>
    </div>
    <div class="row justify-content-start flex-nowrap link-wrapper no-gutters mt-2">
        <div class="col-lg col-xl mr-4">
            <a href="/olsstorefront/de/Hosen" class="btn btn-light category-btn btn-lg d-block text-16 py-2 d-flex flex-column justify-content-center" title="Hosen">Hosen</a>
        </div>
        <div class="col-lg col-xl mr-4">
            <a href="/olsstorefront/de/Shirts" class="btn btn-light category-btn btn-lg d-block text-16 py-2 d-flex flex-column justify-content-center" title="Shirts">Shirts</a>
        </div>
        <div class="col-lg col-xl mr-4">
            <a href="/olsstorefront/de/Pullover" class="btn btn-light category-btn btn-lg d-block text-16 py-2 d-flex flex-column justify-content-center" title="Pullover">Pullover</a>
        </div>
        <div class="col-lg col-xl mr-4">
            <a href="/olsstorefront/de/Anderes" class="btn btn-light category-btn btn-lg d-block text-16 py-2 d-flex flex-column justify-content-center" title="Anderes">Anderes</a>
        </div>
        <div class="col-lg col-xl ">
            <a href="/olsstorefront/de/anderes2" class="btn btn-light category-btn btn-lg d-block text-16 py-2 d-flex flex-column justify-content-center" title="anderes2">anderes2</a>
        </div>
    </div>
</div>