<form class="bg-light p-4">
  <fieldset>
    <legend class="col display-7 mb-3 p-0">Wählen Sie eine Lieferart</legend>
    <div class="row mb-4 row-eq-heights">
      <div class="col-12 col-md-6 mb-5">
        <label class="text-center bg-white rounded-sm-0 py-2 px-4 h-100 w-100" for="example-custom-radio1">  
          <div class="form-group custom-control custom-radio custom-radio--round d-inline-block">
            <input type="radio" class="custom-control-input" id="example-custom-radio1" name="delivery-method" checked>
            <div class="custom-control-label"></div>
          </div>
          <h3 class="display-7 mb-1">gleiche Lieferadresse</h3>
          <p class="display-29 text-secondary">Die Lieferadresse entspricht der Rechnungsadresse</p>
        </label>
      </div>
      <div class="col-12 col-md-6 mb-5">
        <label class="text-center bg-white rounded-sm-0 py-2 px-4 h-100 w-100" for="example-custom-radio2">
          <div class="form-group custom-control custom-radio custom-radio--round d-inline-block">
            <input type="radio" class="custom-control-input" id="example-custom-radio2" name="delivery-method">
            <div class="custom-control-label"></div>
          </div>
          <h3 class="display-7 mb-1">Abweichende Lieferadresse</h3>
          <p class="display-29 text-secondary">Eine abweichende Lieferadresse angeben</p>
        </label>
      </div>
      <div class="col-12 col-md-6 mb-5">
        <label class="text-center bg-white rounded-sm-0 py-2 px-4 h-100 w-100" for="example-custom-radio3">
          <div class="form-group custom-control custom-radio custom-radio--round d-inline-block">
            <input type="radio" class="custom-control-input" id="example-custom-radio3" name="delivery-method">
            <div class="custom-control-label"></div>
          </div>
          <h3 class="display-7 mb-1">Packstation</h3>
          <p class="display-29 text-secondary">Lieferung an eine Packstation wählen Lieferung an eine Packstation wählen</p>
        </label>
      </div>
      <div class="col-12 col-md-6 mb-5">
        <label class="text-center bg-white rounded-sm-0 py-2 px-4 h-100 w-100" for="example-custom-radio4">
          <div class="form-group custom-control custom-radio custom-radio--round d-inline-block">
            <input type="radio" class="custom-control-input" id="example-custom-radio4" name="delivery-method">
            <div class="custom-control-label"></div>
          </div>
          <h3 class="display-7 mb-1">Filiallieferung</h3>
          <p class="display-29 text-secondary">Lieferung an eine Filiale in Ihrer Nähe</p>
        </label>
      </div>
    </div>
  </fieldset>
</form>