<div class="row">
    <div class="col-2">
        <div class="default-icon-questionMark"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-chevronDown"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-chevronDownSmall"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-chevronUp"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-chevronRight"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-chevronLeft"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-chevronLeftSmall"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-plus"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-close"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-hamburger"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-search"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-minus"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-badgeFill"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-badge"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-eye"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-eyeSliced"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-pencil"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-bulb"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-config"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-configFill"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-starFill"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-star"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-filter"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-checkmark"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-checkmarkSmall"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-chat"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-envelope"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-bulbFill"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-login"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-loginFill"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-heart"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-heartFill"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-bag"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-bagFill"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-30"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-30s"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-30ss"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-40"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-40s"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-40ss"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-60"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-60s"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-95"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-hw"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-nw"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-bs"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-csb"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-nb"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-1p"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-2p"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-3p"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-nbu"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-f"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-fs"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-nr"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-p"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-ps"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-w"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-wns"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-ws"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-wss"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-nt"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-tnor"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-tred"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-gps"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-i"></div>
    </div>
    <div class="col-2">
        <div class="icon-questionMark-white-20 bg-dark rounded-circle"></div>
    </div>
    <div class="col-2">
        <div class="icon-exclamationMark-white-16 bg-info rounded-circle"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-quickOrder"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-quickOrderFill"></div>
    </div>
</div>
