<div class="row">
    <div class="col-2">
        <div class="default-icon-questionMark"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-chevronDown"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-chevronUp"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-chevronRight"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-chevronLeft"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-plus"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-close"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-hamburger"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-search"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-minus"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-badgeFill"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-badge"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-eye"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-eyeSliced"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-pencil"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-bulb"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-config"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-configFill"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-starFill"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-star"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-filter"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-checkmark"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-checkmarkSmall"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-chat"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-envelope"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-bulbFill"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-login"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-loginFill"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-heartLarge"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-heartFill"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-heart"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-bag"></div>
    </div>
    <div class="col-2">
        <div class="default-icon-bagFill"></div>
    </div>
</div>
