<h3 class="pb-2">Buttons</h3>

<br>
<br>
<div class="row">
    <div class="col-2 display-5 mb-1">
        Inline Icons (relativ to the label)
    </div>
    <div class="col-10 display-5 mb-1">
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary icon-svg icon-eye icon-left icon-inline text-truncate">.btn .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-primary icon-svg icon-eye icon-left icon-inline text-truncate">.btn .btn-block .icon-inline</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary btn-sm icon-svg icon-eye icon-left icon-inline text-truncate">.btn .btn-sm .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-sm btn-primary icon-svg icon-eye icon-left icon-inline text-truncate">.btn .btn-block .icon-inline
                    .btn-sm</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-lg btn-primary icon-svg icon-eye icon-left icon-inline">.btn .btn-lg .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-lg btn-primary icon-svg icon-eye icon-left icon-inline">.btn .btn-block .icon-inline
                    .btn-lg</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-xl btn-primary icon-svg icon-eye icon-left icon-inline">.btn .btn-xl .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-xl btn-primary icon-svg icon-eye icon-left icon-inline">.btn .btn-block .icon-inline
                    .btn-xl</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary icon-svg icon-eye icon-right icon-inline text-truncate">.btn .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-primary icon-svg icon-eye icon-right icon-inline text-truncate">.btn .btn-block .icon-inline</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary btn-sm icon-svg icon-eye icon-right icon-inline text-truncate">.btn .btn-sm .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-sm btn-primary icon-svg icon-eye icon-right icon-inline text-truncate">.btn .btn-block
                    .btn-sm .icon-inline</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-lg btn-primary icon-svg icon-eye icon-right icon-inline">.btn .btn-lg .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-lg btn-primary icon-svg icon-eye icon-right icon-inline">.btn .btn-block
                    .btn-lg .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-xl btn-primary icon-svg icon-eye icon-right icon-inline">.btn .btn-xl .icon-inline</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-xl btn-primary icon-svg icon-eye icon-right icon-inline">.btn .btn-block
                    .btn-xl .icon-inline</a>
            </div>
        </div>
    </div>
</div>