<div class="row">
    <div class="col-4">
        <div class="pb-2">
            <div class="display-6">chevronRight:</div>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-dark icon-left-chevronRight icon-right-chevronRight">Icons left & right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-light icon-left-chevronRight">Icon left</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-green icon-right-chevronRight">Icon right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-lg btn-primary icon-left-chevronRight icon-right-chevronRight">Button lg</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-sm btn-light icon-left-chevronRight icon-right-chevronRight">Button sm</button>
        </div>
    </div>
    <div class="col-4">
        <div class="pb-2">
            <div class="display-6">chevronLeft:</div>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-dark icon-left-chevronLeft icon-right-chevronLeft">Icons left & right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-light icon-left-chevronLeft">Icon left</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-green icon-right-chevronLeft">Icon right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-lg btn-primary icon-left-chevronLeft icon-right-chevronLeft">Button lg</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-sm btn-light icon-left-chevronLeft icon-right-chevronLeft">Button sm</button>
        </div>
    </div>
    <div class="col-4">
        <div class="pb-2">
            <div class="display-6">chevronDown:</div>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-dark icon-left-chevronDown icon-right-chevronDown">Icons left & right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-light icon-left-chevronDown">Icon left</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-green icon-right-chevronDown">Icon right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-lg btn-primary icon-left-chevronDown icon-right-chevronDown">Button lg</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-sm btn-light icon-left-chevronDown icon-right-chevronDown">Button sm</button>
        </div>
    </div>
    <div class="col-4">
        <div class="pb-2">
            <div class="display-6">plus:</div>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-dark icon-left-plus icon-right-plus">Icons left & right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-light icon-left-plus">Icon left</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-green icon-right-plus">Icon right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-lg btn-primary icon-left-plus icon-right-plus">Button lg</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-sm btn-light icon-left-plus icon-right-plus">Button sm</button>
        </div>
    </div>
    <div class="col-4">
        <div class="pb-2">
            <div class="display-6">minus:</div>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-dark icon-left-minus icon-right-minus">Icons left & right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-light icon-left-minus">Icon left</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-green icon-right-minus">Icon right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-lg btn-primary icon-left-minus icon-right-minus">Button lg</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-sm btn-light icon-left-minus icon-right-minus">Button sm</button>
        </div>
    </div>
    <div class="col-4">
        <div class="pb-2">
            <div class="display-6">pencil:</div>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-dark icon-left-pencil icon-right-pencil">Icons left & right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-light icon-left-pencil">Icon left</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-green icon-right-pencil">Icon right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-lg btn-primary icon-left-pencil icon-right-pencil">Button lg</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-sm btn-light icon-left-pencil icon-right-pencil">Button sm</button>
        </div>
    </div>
    <div class="col-4">
        <div class="pb-2">
            <div class="display-6">close:</div>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-dark icon-left-close icon-right-close">Icons left & right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-light icon-left-close">Icon left</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-green icon-right-close">Icon right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-lg btn-primary icon-left-close icon-right-close">Button lg</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-sm btn-light icon-left-close icon-right-close">Button sm</button>
        </div>
    </div>
    <div class="col-4">
        <div class="pb-2">
            <div class="display-6">heart:</div>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-dark icon-left-heart icon-right-heart">Icons left & right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-light icon-left-heart">Icon left</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-green icon-right-heart">Icon right</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-lg btn-primary icon-left-heart icon-right-heart">Button lg</button>
        </div>
        <div class="pb-2">
            <button class="btn btn-block btn-sm btn-light icon-left-heart icon-right-heart">Button sm</button>
        </div>
    </div>
</div>