<h3 class="pb-2">$dark</h3>
<div class="row pb-2">
    <div class="col-12 display-6">btn-dark normal</div>
    <div class="col-12 display-26 pb-1">btn-block text-truncate gehören zum Standard</div>
    <div class="col-2"><button type="button" class="btn btn-dark btn-block text-truncate">disabled</button></div>
    <div class="col-1"><button type="button" class="btn btn-dark btn-block text-truncate">einzeiliges Label</button></div>
    <div class="col-2"><a href="#" class="btn btn-dark btn-block text-truncate disabled">disabled</a></div>
    <div class="col-2"><a href="#" class="btn btn-dark btn-block text-truncate active">active</a></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-dark small</div>
    <div class="col-2"><button type="button" class="btn btn-dark btn-block text-truncate btn-sm">normal</button></div>
    <div class="col-1"><button type="button" class="btn btn-dark btn-block text-truncate btn-sm">einzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn btn-dark btn-block text-truncate btn-sm disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn btn-dark btn-block text-truncate btn-sm active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-dark large</div>
    <div class="col-2"><button type="button" class="btn btn-dark btn-block btn-lg">normal</button></div>
    <div class="col-1"><button type="button" class="btn btn-dark btn-block btn-lg">mehrzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn btn-dark btn-block btn-lg disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn btn-dark btn-block btn-lg active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-dark xl</div>
    <div class="col-2"><button type="button" class="btn btn-dark btn-block btn-xl">normal</button></div>
    <div class="col-1"><button type="button" class="btn btn-dark btn-block btn-xl">mehrzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn btn-dark btn-block btn-xl disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn btn-dark btn-block btn-xl active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-dark svg Icon</div>
    <div class="col-12 display-26 pb-1">svg Varianten siehe button-icons</div>
    <div class="col-2"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-pencil">disabled</button></div>
    <div class="col-1"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-left icon-pencil">einzeiliges Label</button></div>
    <div class="col-2"><a href="#" class="btn btn-dark btn-block text-truncate disabled icon-svg icon-left icon-pencil">disabled</a></div>
    <div class="col-2"><a href="#" class="btn btn-dark btn-block text-truncate active icon-svg icon-left icon-pencil">active</a></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-dark outline normal</div>
    <div class="col-2"><button type="button" class="btn  btn-outline-dark btn-block text-truncate">normal</button></div>
    <div class="col-1"><button type="button" class="btn  btn-outline-dark btn-block text-truncate">einzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-dark btn-block text-truncate disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-dark btn-block text-truncate active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-dark outline small</div>
    <div class="col-2"><button type="button" class="btn  btn-outline-dark btn-block text-truncate btn-sm">normal</button></div>
    <div class="col-1"><button type="button" class="btn  btn-outline-dark btn-block text-truncate btn-sm">mehrzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-dark btn-block text-truncate btn-sm disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-dark btn-block text-truncate btn-sm active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-dark outline large</div>
    <div class="col-2"><button type="button" class="btn  btn-outline-dark btn-block btn-lg">normal</button></div>
    <div class="col-1"><button type="button" class="btn  btn-outline-dark btn-block btn-lg">mehrzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-dark btn-block btn-lg disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-dark btn-block btn-lg active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-dark outline xl</div>
    <div class="col-2"><button type="button" class="btn  btn-outline-dark btn-block btn-xl">normal</button></div>
    <div class="col-1"><button type="button" class="btn  btn-outline-dark btn-block btn-xl">mehrzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-dark btn-block btn-xl disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-dark btn-block btn-xl active">active</button></div>
</div>