<div class="row">
    <div class="col-6">
        <div class="pb-2">
            <div class="display-6">normal:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-dark">dark button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-dark disabled">dark button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-dark active">dark button active</button>
        </div>
    </div>
    <div class="col-6">
        <div class="pb-2">
            <div class="display-6">block:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-dark btn-block">dark button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-dark btn-block disabled">dark button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-dark btn-block active">dark button active</button>
        </div>
    </div>
</div>
