<div class="row d-flex justify-content-around">
    <div class="col">
        <div class="d-flex ml-3 mt-3 alert alert-success shadow-lg text-success" role="success">
            <div class="icon-checkmark-white bg-success rounded-circle flex-column flex-shrink-0 mr-2"></div>
            <div class="flex-column">
                <h5 class="display-7 text-success">Message Headline</h5>
                <div class="display-23">
                    Message Text
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="d-flex ml-3 mt-3 alert alert-warning shadow-lg text-warning" role="warning">
            <div class="icon-exclamationMark-white bg-warning rounded-circle flex-column flex-shrink-0 mr-2"></div>
            <div class="flex-column">
                <h5 class="display-7 text-warning">Message Headline</h5>
                <div class="display-23">
                    Message Text
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-around">
    <div class="col">
        <div class="d-flex ml-3 mt-3 alert alert-danger shadow-lg text-danger" role="alert">
            <div class="icon-close-white bg-danger rounded-circle flex-column flex-shrink-0 mr-2"></div>
            <div class="flex-column">
                <h5 class="display-7 text-danger">Message Headline</h5>
                <div class="display-23">
                    Message Text
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="d-flex ml-3 mt-3 alert alert-dark shadow-lg bg-gray-surface" role="alert">
            <div class="icon-questionMark-white bg-dark rounded-circle flex-column flex-shrink-0 mr-2"></div>
            <div class="flex-column">
                <h5 class="display-7">Message Headline</h5>
                <div class="display-23">
                    Message Text
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-around ndpl-info-bg">
    <div class="col">
        <div class="d-flex ml-3 mt-3 alert alert-info shadow-lg text-info" role="alert">
            <div class="icon-i-white bg-info rounded-circle flex-column flex-shrink-0 mr-2"></div>
            <div class="flex-column">
                <h5 class="display-7 text-info">Message Headline</h5>
                <div class="display-23">
                    Message Text
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>