<div class="row bg-info">
    <div class="col-6">
        <div class="pb-2">
            <div class="display-6">normal:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-dark-alt">dark-alt button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-dark-alt disabled">dark-alt button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-dark-alt active">dark-alt button active</button>
        </div>
    </div>
    <div class="col-6">
        <div class="pb-2">
            <div class="display-6">block:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-dark-alt btn-block">dark-alt button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-dark-alt btn-block disabled">dark-alt button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-dark-alt btn-block active">dark-alt button active</button>
        </div>
    </div>
</div>
