<h3 class="pb-2">$primary</h3>
<div class="row pb-2">
    <div class="col-12 display-6">btn-primary normal</div>
    <div class="col-12 display-26 pb-1">btn-block text-truncate gehören zum Standard</div>
    <div class="col-2"><button type="button" class="btn btn-primary btn-block text-truncate">disabled</button></div>
    <div class="col-1"><button type="button" class="btn btn-primary btn-block text-truncate">einzeiliges Label</button></div>
    <div class="col-2"><a href="#" class="btn btn-primary btn-block text-truncate disabled">disabled</a></div>
    <div class="col-2"><a href="#" class="btn btn-primary btn-block text-truncate active">active</a></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-primary small</div>
    <div class="col-2"><button type="button" class="btn btn-primary btn-block text-truncate btn-sm">normal</button></div>
    <div class="col-1"><button type="button" class="btn btn-primary btn-block text-truncate btn-sm">einzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn btn-primary btn-block text-truncate btn-sm disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn btn-primary btn-block text-truncate btn-sm active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-primary large</div>
    <div class="col-2"><button type="button" class="btn btn-primary btn-block btn-lg">normal</button></div>
    <div class="col-1"><button type="button" class="btn btn-primary btn-block btn-lg">mehrzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn btn-primary btn-block btn-lg disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn btn-primary btn-block btn-lg active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-primary xl</div>
    <div class="col-2"><button type="button" class="btn btn-primary btn-block btn-xl">normal</button></div>
    <div class="col-1"><button type="button" class="btn btn-primary btn-block btn-xl">mehrzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn btn-primary btn-block btn-xl disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn btn-primary btn-block btn-xl active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-primary svg Icon</div>
    <div class="col-12 display-26 pb-1">svg Varianten siehe button-icons</div>
    <div class="col-2"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-close">disabled</button></div>
    <div class="col-1"><button type="button" class="btn btn-primary btn-block text-truncate icon-svg icon-left icon-close">einzeiliges Label</button></div>
    <div class="col-2"><a href="#" class="btn btn-primary btn-block text-truncate disabled icon-svg icon-left icon-close">disabled</a></div>
    <div class="col-2"><a href="#" class="btn btn-primary btn-block text-truncate active icon-svg icon-left icon-close">active</a></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-primary outline normal</div>
    <div class="col-2"><button type="button" class="btn  btn-outline-primary btn-block text-truncate">normal</button></div>
    <div class="col-1"><button type="button" class="btn  btn-outline-primary btn-block text-truncate">einzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-primary btn-block text-truncate disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-primary btn-block text-truncate active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-primary outline small</div>
    <div class="col-2"><button type="button" class="btn  btn-outline-primary btn-block text-truncate btn-sm">normal</button></div>
    <div class="col-1"><button type="button" class="btn  btn-outline-primary btn-block text-truncate btn-sm">mehrzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-primary btn-block text-truncate btn-sm disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-primary btn-block text-truncate btn-sm active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-primary outline large</div>
    <div class="col-2"><button type="button" class="btn  btn-outline-primary btn-block btn-lg">normal</button></div>
    <div class="col-1"><button type="button" class="btn  btn-outline-primary btn-block btn-lg">mehrzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-primary btn-block btn-lg disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-primary btn-block btn-lg active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-12 display-6">btn-primary outline xl</div>
    <div class="col-2"><button type="button" class="btn  btn-outline-primary btn-block btn-xl">normal</button></div>
    <div class="col-1"><button type="button" class="btn  btn-outline-primary btn-block btn-xl">mehrzeiliges Label</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-primary btn-block btn-xl disabled">disabled</button></div>
    <div class="col-2"><button type="button" class="btn  btn-outline-primary btn-block btn-xl active">active</button></div>
</div>