<div class="row">
    <div class="col-6">
        <div class="pb-2">
            <div class="display-6">normal:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-primary">primary button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-primary disabled">primary button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-primary active">primary button active</button>
        </div>
    </div>
    <div class="col-6">
        <div class="pb-2">
            <div class="display-6">block:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-primary btn-block">primary button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-primary btn-block disabled">primary button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-primary btn-block active">primary button active</button>
        </div>
    </div>
</div>
