<div class="pb-2">
    <div class="display-6">Desktop nur Icon .btn-icon-only</div>
    <div class="pb-2">
        <button class="btn btn-dark btn-icon-only icon-right-chevronRight">Mit Text</button>
    </div>
    <div class="pb-2">
        <button class="btn btn-primary btn-icon-only icon-right-heart"></button>
    </div>
</div>
<div class="pb-2">
    <div class="display-6">Desktop Text & Icon, Mobil nur Icon .btn-icon</div>
    <div class="pb-2">
        <button class="btn btn-dark btn-icon icon-right-chevronRight">To Top</button>
    </div>
    <div class="pb-2">
        <button class="btn btn-primary btn-icon icon-left-heart">To Heart</button>
    </div>
</div>
<div class="pb-2">
    <div class="display-6">Rechtsbündiger Icon-Button .btn-right-icon</div>
    <div class="pb-2">
        <button class="btn btn-primary btn-right-icon icon-right-chevronRight">btn-right-icon</button>
    </div>
    <div class="row pb-2">
        <div class="col-6">
            <button class="btn btn-block btn-primary btn-right-icon icon-right-chevronRight">btn-right-icon</button>
        </div>
    </div>
</div>
<div class="pb-2">
    <div class="display-6">Collapsible-Button .btn-collapsible</div>
    <div class="pb-2">
        <button class="btn btn-light btn-collapsible">btn-collapsible</button>
    </div>
    <div class="row pb-2">
        <div class="col-6">
            <button class="btn btn-block btn-light btn-collapsible">btn-collapsible</button>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col-6">
            <button class="btn btn-block btn-light btn-collapsible collapsed">btn-collapsible collapsed</button>
        </div>
    </div>
</div>