<h3 class="pb-2">SVG icon für Buttons</h3>
<div class="row pb-2">
    <div class="col-12 display-6">Overview über alle nutzbaren Icons (atm block-buttons only)</div>
    <div class="col-12 display-26 pb-1">btn-block icon-svg icon-right icon-chevronLeft</div>
    <div class="col-2"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-right icon-chevronLeft">chevronLeft</button></div>
    <div class="col-2"><button type="button" class="btn btn-link btn-block text-truncate icon-svg icon-left icon-chevronRight">chevronRight</button></div>
    <div class="col-2"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-right icon-chevronLeft">chevronLeft</button></div>
    <div class="col-2"><a href="#" class="btn btn-dark btn-block text-truncate disabled icon-svg icon-left icon-chevronRight">chevronRight</a></div>
    <div class="col-2"><a href="#" class="btn btn-dark btn-block text-truncate active icon-svg icon-left icon-minus">minus</a></div>
    <div class="col-2"><button type="button" class="btn  btn-dark btn-block text-truncate icon-svg icon-left icon-hamburger">hamburger</button></div>
    <div class="col-2"><button type="button" class="btn  btn-dark btn-block text-truncate disabled icon-svg icon-left icon-close">close</button></div>
    <div class="col-2"><button type="button" class="btn  btn-dark btn-block text-truncate active icon-svg icon-right icon-plus">plus</button></div>
    <div class="col-2"><button type="button" class="btn btn-dark btn-block text-truncate icon-svg icon-right icon-questionMark">questionMark</button></div>
    <div class="col-2"><a href="#" class="btn btn-dark btn-block text-truncate disabled icon-svg icon-left icon-chevronDown">chevronDown</a></div>
    <div class="col-2"><a href="#" class="btn btn-dark btn-block text-truncate active icon-svg icon-left icon-chevronUp">chevronUp</a></div>
    <div class="col-2"><button type="button" class="btn  btn-dark btn-block text-truncate icon-svg icon-left icon-badge">badge</button></div>
    <div class="col-2"><button type="button" class="btn  btn-dark btn-block text-truncate disabled icon-svg icon-left icon-eye">eye</button></div>
    <div class="col-2"><a href="#" class="btn btn-dark btn-block text-truncate active icon-svg icon-left icon-eyeSliced">eyeSliced</a></div>
    <div class="col-2"><button type="button" class="btn  btn-dark btn-block text-truncate icon-svg icon-left icon-pencil">pencil</button></div>
    <div class="col-2"><button type="button" class="btn  btn-dark btn-block text-truncate disabled icon-svg icon-left icon-bulb">bulb</button></div>
    <div class="col-2"><a href="#" class="btn btn-dark btn-block text-truncate active icon-svg icon-left icon-config">config</a></div>
    <div class="col-2"><button type="button" class="btn  btn-dark btn-block text-truncate icon-svg icon-left icon-star">star</button></div>
    <div class="col-2"><button type="button" class="btn  btn-dark btn-block text-truncate disabled icon-svg icon-left icon-filter">filter</button></div>
    <div class="col-2"><a href="#" class="btn btn-dark btn-block text-truncate active icon-svg icon-left icon-checkmark">checkmark</a></div>
    <div class="col-2"><button type="button" class="btn  btn-dark btn-block text-truncate icon-svg icon-left icon-chat">chat</button></div>
    <div class="col-2"><button type="button" class="btn  btn-dark btn-block text-truncate disabled icon-svg icon-left icon-envelope">envelope</button></div>
    <div class="col-2"><a href="#" class="btn btn-dark btn-block text-truncate active icon-svg icon-left icon-bulb2">bulb2</a></div>
</div>