<h1 class="display-1">GT Super Display Bold, 64/64px (32/40px), -1</h1>
<h2 class="display-2">GT Super Display Bold, 56/56px (32/40px), -2</h2>
<h3 class="display-3">GT Super Display Bold, 48/48px (32/40px), - 3</h3>
<h4 class="display-4">GT Super Display Bold, 32/40px, -4</h4>
<h5 class="display-8">GT Super Display Bold, 32/40px (24/32px), -8</h5>
<div class="display-10">GT Super Display Bold, 32/40 (Open Sans SemiBold 20/28px), -10</div>
<h6 class="display-5">GT Super Display Bold, 24/32px, -5</h6>
