<h1 class="display-1">Lora medium, 56/64px(32/40px) -1</h1>
<h2 class="display-2">Lora medium, 48/56px(32/40px) -2</h2>
<h3 class="display-3">Lora medium, 32/48px(28/32px) -3</h3>
<h4 class="display-4">Lora medium, 24/32px(24/32px) -4</h4>
<h6 class="display-5">roboto Regular, 21/30px(16/20px), 15% spacing, Uppercase -5</h6>
<h5 class="display-8">roboto Regular, 24/28px(16/20px), 15% spacing, Uppercase -8</h5>
<div class="display-10">roboto Regular, 20/28px(16/20px), 15% spacing, Uppercase -10</div>
