<h1 class="display-1">Playfair Display, 48/48px (28/32px), 7% spacing, -1</h1>
<h2 class="display-2">Playfair Display, 32/35px (18/21px), 7% spacing, -2</h2>
<h3 class="display-3">Ubuntu Bold, 24/30px (18/21px), 15% spacing, - 3</h3>
<h4 class="display-4">Ubuntu, 24/30px (16/20px), 15% spacing, -4</h4>
<h5 class="display-8">Ubuntu, 24/30px (16/20px), 15% spacing, -8</h5>
<div class="display-10">Ubuntu, 24/30px (16/20px), 15% spacing, -10</div>
<h6 class="display-5">Ubuntu, 22/27px (16/20px), 15% spacing, -5</h6>
