<h3 class="pb-2">$white-invisible</h3>
<div class="row pb-2">
    <div class="col-3 display-6">normal</div>
    <div class="col-3"><button type="button" class="btn btn-white-invisible btn-block text-truncate">einzeiliges Label was abgeschnitten wird</button></div>
    <div class="col-3"><a href="#" class="btn btn-white-invisible btn-block text-truncate disabled">disabled</a></div>
    <div class="col-3"><a href="#" class="btn btn-white-invisible btn-block text-truncate active">active</a></div>
</div>
<div class="row pb-2">
    <div class="col-3 display-6">small</div>
    <div class="col-3"><button type="button" class="btn btn-white-invisible btn-block text-truncate btn-sm">einzeiliges Label was abgeschnitten wird</button></div>
    <div class="col-3"><button type="button" class="btn btn-white-invisible btn-block text-truncate btn-sm disabled">disabled</button></div>
    <div class="col-3"><button type="button" class="btn btn-white-invisible btn-block text-truncate btn-sm active">active</button></div>
</div>
<div class="row pb-2">
    <div class="col-3 display-6">large</div>
    <div class="col-3"><button type="button" class="btn btn-white-invisible btn-block btn-lg">mehrzeiliges Label was nicht abgeschnitten wird</button></div>
    <div class="col-3"><button type="button" class="btn btn-white-invisible btn-block btn-lg disabled">disabled</button></div>
    <div class="col-3"><button type="button" class="btn btn-white-invisible btn-block btn-lg active">active</button></div>
</div>