<form>
  <fieldset>
    <legend class="col display-7 mb-3 p-0">Kontaktinformationen</legend>
    <div class="row mb-4">
      <div class="col-12">
        <div class="form-group mb-2">
          <label class="mb-0 display-22" for="example-form-mail">E-Mail</label>
          <input name="example-form-mail" id="example-form-mail" value="" class="form-control text-14"
            type="text" placeholder="Beispiel: musterfrau@emailservice.de">
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend class="col display-7 mb-3 p-0">Adresse</legend>
    <div class="row">
      <div class="col-6">
        <div class="form-group mb-2">
          <label class="mb-0 display-22" for="example-form-salutation">Anrede</label>
          <select class="form-control custom-select pr-6" name="example-form-salutation" id="example-form-salutation">
            <option>Frau</option>
            <option>Herr</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group mb-2">
          <label class="mb-0 display-22" for="example-form-firstname">Vorname</label>
          <input name="example-form-firstname" id="example-form-firstname" value="" class="form-control"
            type="text" placeholder="Ihr Vorname">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group mb-2">
          <label class="mb-0 display-22" for="example-form-lastname">Nachname</label>
          <input name="example-form-lastname" id="example-form-lastname" value="" class="form-control"
            type="text" placeholder="Ihr Nachname">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-9">
        <div class="form-group mb-2">
          <label class="mb-0 display-22" for="example-form-street">Straße</label>
          <input name="example-form-street" id="example-form-street" value="" class="form-control"
            type="text" placeholder="z.B. Hauptstraße">
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="form-group mb-2">
          <label class="mb-0 display-22" for="example-form-house-number">Hausnummer</label>
          <input name="example-form-house-number" id="example-form-house-number" value="" class="form-control"
            type="text" placeholder="z.B. 1b">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group mb-2">
          <label class="mb-0 display-22" for="example-form-additional-address">Adresszusatz</label>
          <input name="example-form-additional-address" id="example-form-additional-address" value="" class="form-control"
            type="text" placeholder="z.B. Hinterhaus">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 col-md-3">
        <div class="form-group mb-2">
          <label class="mb-0 display-22" for="example-form-postal-code">PLZ</label>
          <input name="example-form-postal-code" id="example-form-postal-code" value="" class="form-control"
            type="text" placeholder="Postleitzahl">
        </div>
      </div>
      <div class="col-12 col-md-9">
        <div class="form-group mb-2">
          <label class="mb-0 display-22" for="example-form-city">Ort</label>
          <input name="example-form-city" id="example-form-city" value="" class="form-control"
            type="text" placeholder="Wird automatisch ausgefüllt">
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <div class="form-group mb-2">
          <label class="mb-0 display-22" for="example-form-country">Land</label>
          <select class="form-control custom-select pr-6" name="example-form-country" id="example-form-country">
            <option>Deutschland</option>
            <option>Östereich</option>
            <option>Schweiz</option>
          </select>
        </div>
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <legend class="col display-7 mb-3 p-0">Zusätzliche Informationen</legend>
    <div class="row mb-4">
      <div class="col-6 col-md-12">
        <div class="form-group mb-2">
          <label class="mb-0 display-22" for="example-form-birthday">Geburtstag</label>
          <input class="form-control pr-6" name="example-form-birthday" id="example-form-birthday" value=""
            type="text" placeholder="TT.MM.JJJJ">
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="example-form-checkbox-confirm" id="example-form-checkbox-confirm" value="">
          <label class="custom-control-label display-23" for="example-form-checkbox-confirm" >Ja, ich habe die <a href="#" class="btn-link icon-svg">Datenschutzrichtlinien</a> gelesen und akzeptiert.</label>
        </div>
      </div>
    </div>
  </fieldset>

</form>