<h3 class="pb-2">Buttons</h3>

<br>
<br>
<div class="row">
    <div class="col-2 display-5 mb-1">
    </div>
    <div class="col-5 display-5 mb-1">
        inline Buttons (min-width 160px)
    </div>
    <div class="col-5 display-5 mb-1">
        Block Buttons (width: 100%)
    </div>
</div>
<div class="row">
    <div class="col-2 display-5 mb-1">
        Block Icons (relativ to the Button - left or right)
    </div>
    <div class="col-10 display-5 mb-1">
        <div class="row">

            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary icon-svg icon-eye icon-left text-truncate">.btn</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-primary icon-svg icon-eye icon-left text-truncate">.btn .btn-block</a>
            </div>
        </div>
        <div class="row">

            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary btn-sm icon-svg icon-eye icon-left text-truncate">.btn .btn-sm</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-sm btn-primary icon-svg icon-eye icon-left text-truncate">.btn .btn-block
                    .btn-sm</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary btn-sm btn-small icon-svg icon-eye icon-left text-truncate">.btn .btn-sm .btn-small</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-sm btn-small btn-primary icon-svg icon-eye icon-left text-truncate">.btn .btn-block .btn-sm .btn-small</a>
            </div>

        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-lg btn-primary icon-svg icon-eye icon-left">.btn .btn-lg</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-lg btn-primary icon-svg icon-eye icon-left">.btn .btn-block .btn-lg</a>
            </div>

            <div class="col-6 mb-1">
                <a href="#" class="btn btn-xl btn-primary icon-svg icon-eye icon-left">.btn .btn-xl</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-xl btn-primary icon-svg icon-eye icon-left">.btn .btn-block .btn-xl</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary icon-svg icon-eye icon-right text-truncate">.btn</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-primary icon-svg icon-eye icon-right text-truncate">.btn .btn-block</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary btn-sm icon-svg icon-eye icon-right text-truncate">.btn .btn-sm</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-sm btn-primary icon-svg icon-eye icon-right text-truncate">.btn .btn-block
                    .btn-sm</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-primary btn-sm btn-small icon-svg icon-eye icon-right text-truncate">.btn .btn-sm .btn-small</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-sm btn-small btn-primary icon-svg icon-eye icon-right text-truncate">.btn .btn-block .btn-sm .btn-small</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-lg btn-primary icon-svg icon-eye icon-right">.btn .btn-lg</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-lg btn-primary icon-svg icon-eye icon-right">.btn .btn-block .btn-lg</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-xl btn-primary icon-svg icon-eye icon-right">.btn .btn-xl</a>
            </div>
            <div class="col-6 mb-1">
                <a href="#" class="btn btn-block btn-xl btn-primary icon-svg icon-eye icon-right">.btn .btn-block .btn-xl</a>
            </div>
        </div>
    </div>
</div>