<h1 class="display-1 mb-4">h1</h1>

<h2 class="display-4 mb-3">h2</h2>

<h3 class="display-5 mb-3">h3</h3>

<p class="display-21">Paragraph</p>

<u><a href="http://www.ullapopken.de" class="text-dark display-21">Verlinkung</a></u>

<br/>
<br/>

Liste:
<ul class="display-21">
    <li>normaler Text</li>
    <li><strong>fetter Text</strong><br/>zweizweilig</li>
    <li><em>kursiver Text</em></li>
    <li><s>durchgestrichener Text</s></li>
</ul>

Nummerierte Liste:
<ol class="display-21">
    <li>normaler Text</li>
    <li><strong>fetter Text</strong><br/>zweizweilig</li>
    <li><em>kursiver Text</em></li>
    <li><s>durchgestrichener Text</s></li>
</ol>