
<div class="row d-flex justify-content-between pt-md-2 pt-lg-4 bg-gray">


    <div class="mb-1 col-12">
        <a class="btn btn-block btn-white btn-collapsible collapsed" data-bs-toggle="collapse" data-bs-target="#UnserServiceNavNode" aria-expanded="false" aria-controls="UnserServiceNavNode">
            <div class="display-7 mb-0">Unser Service</div>
        </a>
        <div class="collapse" id="UnserServiceNavNode">
            <div class=" bg-white p-4 mb-1 mx-1 display-23">
                Content goes here
            </div>
        </div>
    </div>

    <div class="mb-1 col-12">
        <a class="btn btn-block btn-white btn-collapsible collapsed" data-bs-toggle="collapse" data-bs-target="#UeberUnsNavNode" aria-expanded="false" aria-controls="UeberUnsNavNode">
            <div class="display-7 mb-0">Über uns</div>
        </a>
        <div class="collapse" id="UeberUnsNavNode">
            <div class=" bg-white p-4 mb-1 mx-1 display-23">
                <div class="py-2">
                    <a href="/de/FAQ" title="Häufige Fragen">Häufige Fragen</a>
                </div>
                <div class="py-2">
                    <a href="/de/groeßenberatung" title="Größenberatung">Größenberatung</a>
                </div>
                <div class="py-2">
                    <a href="/de/geschenkgutscheine" title="Geschenkgutscheine">Geschenkgutscheine</a>
                </div>
                <div class="py-2">
                    <a href="/de/bestellkarte  " title="Bestellkarte">Bestellkarte</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-1 col-12">

        <a class="btn btn-block btn-white btn-collapsible collapsed" data-bs-toggle="collapse" data-bs-target="#contactCollapsibleWrapperComponent" aria-expanded="false" aria-controls="contactCollapsibleWrapperComponent">
            <div class="display-7 mb-0">Kontakt</div>
        </a>
        <div class="collapse" id="contactCollapsibleWrapperComponent">
            <div class="bg-white p-4 mb-1 mx-1">
                <div class="content"><address class="mb-0"><h3 class="display-7 mb-4">Brauchen Sie Hilfe?</h3><div class="display-30">0800 - 53 33 999</div><div class="display-25 mb-4">Mo-So: 6 bis 23 Uhr<br>(gebührenfrei)</div><ul class="list-inline mb-0"><li><a href="mailto:Kunden-Service@popken.de" class="btn btn-link text-truncate text-left icon-left-envelope px-0">E-Mail schreiben</a></li><li><a href="/faq" class="btn btn-link text-truncat text-left icon-left-questionMark px-0">Häufige Fragen anzeigen</a></li></ul></address></div></div>
        </div>
    </div>

</div>