<div class="row ndpl-info-bg">
    <div class="col-6">
        <div class="pb-2">
            <div class="display-6">normal:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-outline-white">outline-white button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-outline-white disabled">outline-white button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-outline-white active">outline-white button active</button>
        </div>
    </div>
    <div class="col-6">
        <div class="pb-2">
            <div class="display-6">block:</div>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-outline-white btn-block">outline-white button default</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-outline-white btn-block disabled">outline-white button disabled</button>
        </div>
        <div class="pb-2">
            <button type="button" class="btn btn-outline-white btn-block active">outline-white button active</button>
        </div>
    </div>
</div>
